<%- include('./layout/header.ejs') %>
<div class="container-fluid m-0">
  <div class="row min-vh-100">
    <div class="col-3 g-0">
        <div class="p-4 mb-1" style="background-color: #e6e6e6;">
          <select name="jobTitle" class="w-100 title" style="background-color: transparent; border: none;">
            <% for( let i = 0; i < jobOpening.length; i++) { %>
              <option style="background-color: transparent; border: none;" value="<%= jobOpening[i].job_title %>"><%= jobOpening[i].job_title %></option>
            <% } %> 
          </select>
        </div>
        <div class="p-4 mb-1" style="background-color: #e6e6e6;">
          <div class="row">
            <% for (let i=0; i < adminSkill.length; i++) { %>
              <div class="col">
                <%= adminSkill[i].skill_name %> 
              </div>
            <% } %>
            </div>
          </div>
      
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Expert</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">Intermediate</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Beginner</label>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Meets Minimum years work experience</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">Expected salary within offer</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Can start immediately</label>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">For Review</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">For Interview</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Contacted</label><br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Hired</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">For Pooling</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Archive</label>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">Read</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Unread</label>
      </div>
      <div class="p-4" style="background-color: #e6e6e6;">

      </div>
    </div>
    <div class="col-3 g-0" style="height: 100vh;"> 
      <% for (let i = 0; i < applicantSkill.length; i++) { %>
        <%= applicantSkill[i].skill_name %> 
      <% } %> 
      <div style="height: 100vh; overflow: auto;">
        <% for(let i = 0; i < skillScore.length; i++) { %>
          <%= skillScore[i].application_id %> 
          <a href="#" style="text-decoration: none;">
            <div class="card mb-1 p-3" style="background-color: #666666; color: white;">
              <div class="row g-0">
                <div class="col-md-4 border border-primary">
                  <img src="#" class="img-fluid rounded-start" alt="This is Image">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= skillScore[i].first_name %> <%= skillScore[i].last_name %> </h5>
                    <p class="card-text">
                      <% if(skillScore != 0) { %>
                          <%= skillScore[i].skill_level %> /  <%= skillScore[i].skill_total %>
                      <% } else { %>
                        NO EXAM
                      <% } %> 
                    </p>
                    <p class="card-text"><small><%= skillScore[i].year_experience  %> Years Experience </small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <% } %> 
      </div>
    </div>
    <div class="col-6 g-0 p-4">
      <div class="d-flex flex-column border-bottom">
        <div>
          IMAGE
        </div>
        <div>
          John Doe
        </div>
        <div>
          21 Female Single Davao
        </div>
        <div>
          aaa@gmail.com skype 09090909
        </div>
        <div>
          6 years experience
        </div>
        <div>
          Expert in TECHNOLOGIES
        </div>
        <div>
          assign status
        </div>
        <div>
          save resume
        </div>
      </div>

      <div class="container py-3">
        <h3>SKILLS</h3>
        <div class="row">
          <div class="col-md-4 m-0">
            TECH1
          </div>
          <div class="col-md-4 m-0">
            TECH2
          </div>
          <div class="col-md-4 m-0">
            TECH3
          </div>
          <div class="col-md-4 m-0">
            TECH4
          </div>
          <div class="col-md-4 m-0">
            TECH5
          </div>
          <div class="col-md-4 m-0">
            TECH6
          </div>
        </div>
      </div>

      <div class="py-3">
        <h3>CAPABILITIES</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt sit libero impedit accusantium fugit ut quaerat ipsum autem tempore atque!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt sit libero impedit accusantium fugit ut quaerat ipsum autem tempore atque!</p>
      </div>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs') %>