<%- include('./layout/resumeHeader.ejs') %>
<div class="container g-0 m-0 p-0">
  <div class="row min-vh-100 min-vw-100 g-0">
    <div class="col-sm-2 pl-1">
      <div class="d-flex flex-column">
        <div>
          <a href="/careers/job/<%= jobId %>/resume/application/<%= appId %>"
            >RESUME</a
          >
        </div>
        <div>
          <a href="/careers/job/<%= jobId %>/personality-test/application/<%= appId %>"
            >PERSONALITY TEST</a
          >
        </div>
        <div>
          <a href="/careers/job/<%= jobId %>/technical-exam/application/<%= appId %>"
            >TECHNICAL EXAM</a
          >
        </div>
        <div>
          <a 
          href="/careers/job/<%= jobId %>/technical-exam/application/<%= appId %>"
          >
            <button
            <% if(applicantExamRecord == undefined) { %>
              disabled
            <% } %> 
            >SUBMIT
            </button>
          </a>
        </div>
        
      </div>
    </div>
    <div class="col-sm-10">
      <h1>TECHNICAL EXAM</h1>
      <% if (applicantRecord == 0){ %>
        <div
        class="h-50 d-flex flex-column align-items-center justify-content-center"
        >
          <h5>APPLICANT DOES NOT EXIST</h5>
        </div>
      <% } else if(applicantExamRecord != undefined) { %>
      <div
        class="h-50 d-flex flex-column align-items-center justify-content-center"
      >
        <h5>YOU HAVE COMPLETED THE EXAM</h5>
      </div>
      <% } else if (jobQuestion != 0) { %>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, facere
          sequi. Beatae officiis ullam quia soluta temporibus dolorem voluptatem
          nulla veniam tenetur magni? Adipisci nobis ipsum sunt. Minima, nam
          neque, facilis commodi tenetur ab veniam beatae, alias molestiae
          repellat ex?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          dicta tempora aliquam amet dolor quam? Quod vero maxime impedit
          consequuntur?
        </p>
      </div>
      <div id="start-btn-container">
        <button id="start-btn">START NOW</button>
      </div>
      <div>
        <form
          action="/careers/job/<%= jobId %>/technical-exam/application/<%= appId %>"
          method="post"
          id="questions"
        ></form>
      </div>
      <% } else { %>
      <div
        class="h-50 d-flex flex-column align-items-center justify-content-center"
      >
        <h5>NO EXAM QUESTIONS SELECTED YET!</h5>
      </div>
      <% } %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    let $questions = $('#questions');

    $('#start-btn').on('click', showQuestions);

    function showQuestions(e) {
      let category = $('#value-category').val();
      let question = $('#value-question').val();
      let delay = 0;
      $.ajax({
        url: '/careers/job/<%= jobId %>/technical-exam',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ category: category, question: question }),
        success: function (response) {
          $.each(response.responseQuestion, function (key, value) {
            let questionTimer = setTimeout(function () {
              $('#next-btn').remove();
              key++;
              $questions.append(`\
                          <div id="question-container_${key}">
                            <div class="d-flex">
                            <h3>${key}. ${value.question_detail}</h3>
                            <input type="text"
                              name="question_type"
                              value="${value.question_type}"
                              readonly
                            >
                            <input type="text"
                              name="question_id"
                              value="${value.question_id}"
                              readonly
                            >
                            <input type="text"
                              value="${value.question_category}"
                              readonly
                            >
                            <h5>
                              Time limit: ${value.question_time_limit}
                            </h5>
                            </div>
                            <div>
                              <input type="radio"
                                name="applicant_answer[${key}]"
                                id="choice-0"
                                value="0"
                                checked
                              >
                              <label for="choice_0">No answer</label>
                            </div>
                            <div>
                            <input type="radio"
                              name="applicant_answer[${key}]"
                              id="choice-1"
                              value="1"
                            >
                            <label for="choice_1">${value.choice_1}</label>
                            </div>
                            <div>
                            <input type="radio"
                              name="applicant_answer[${key}]"
                              id="choice-2"
                              value="2"
                            >
                            <label for="choice_2">${value.choice_2}</label>
                            </div>
                            <div>
                            <input type="radio"
                              name="applicant_answer[${key}]"
                              id="choice-3"
                              value="3" 
                            >
                            <label for="choice_3">${value.choice_3}</label>
                            </div>
                            <div>
                            <input type="radio"
                              name="applicant_answer[${key}]"
                              id="choice-4"
                              value="4" 
                            >
                            <label for="choice_4">${value.choice_4}</label>
                            </div>
                          </div>
                          <div id="next-btn-container">
                            <button type="button" id="next-btn">NEXT</button>
                          </div>`);
                          
              // disables the question after the time limit
              setTimeout(()=>{
                $(`#question-container_${key}`).fadeTo(100, 0.5)
                $(`#question-container_${key}`).children().children((':radio:not(:checked)')).attr('disabled', true);
              }, value.question_time_limit*1000)
              
              // disables the question on click and skip to the next question
              $('#next-btn').on('click', (e)=>{
                e.preventDefault();
                $(`#question-container_${key}`).fadeTo(300, 0.4)
                $(`#question-container_${key}`).children().children((':radio:not(:checked)')).attr('disabled', true);
                e.target.remove()
              });

            }, delay);
            delay += value.question_time_limit * 1000;
          });
          setTimeout(function () {
            $('#next-btn').remove();
            $questions.append('<button type="submit">SAVE EXAM</button>');
          }, delay);

          $('#start-btn').remove();
        },
      });
    }
  });
</script>
<%- include('./layout/resumeFooter.ejs') %>
