<%- include('./layout/header.ejs') %>
<div class="container-fluid m-0">
  <div class="row min-vh-100">
    <div class="col-3 g-0">
        <div class="p-4 mb-1" style="background-color: #e6e6e6;">
          <select name="jobTitle" class="w-100 title" style="background-color: transparent; border: none;">
            <% for( let i = 0; i < jobOpening.length; i++) { %>
              <option style="background-color: transparent; border: none;" value="<%= jobOpening[i].job_title %>"><%= jobOpening[i].job_title %></option>
            <% } %> 
          </select>
        </div>
        <div class="p-4 mb-1" style="background-color: #e6e6e6;">
          <div class="row">
            <% for (let i=0; i < adminSkill.length; i++) { %>
              <div class="col">
                <%= adminSkill[i].skill_name %> 
              </div>
            <% } %>
            </div>
          </div>
      
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Expert</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">Intermediate</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Beginner</label>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Meets Minimum years work experience</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">Expected salary within offer</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Can start immediately</label>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">For Review</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">For Interview</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Contacted</label><br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Hired</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">For Pooling</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Archive</label>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">Read</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Unread</label>
      </div>
      <div class="p-4" style="background-color: #e6e6e6;">

      </div>
    </div>
    <div class="col-3 g-0" style="height: 100vh;"> 
      <div style="height: 100vh; overflow: auto;">
        <% for(let i = 0; i < applicants.length; i++) { %>
          <%= applicants[i].application_id %> 
          <a href="/application/job/<%= applicants[i].job_id %>/applicant/<%= applicants[i].application_id %>" style="text-decoration: none;">
            <div class="card mb-1 p-3" style="background-color: #666666; color: white;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/<%= applicants[i].photo %>" class="img-fluid rounded-start" alt="This is Image">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= applicants[i].first_name %> <%= applicants[i].last_name %> </h5>
                    <p class="card-text">
                      <% for( let j = 0; j < technicalScore.length; j++) { %>
                        <% if(applicants != 0) { %> 
                          <% if(applicants[i].application_id == technicalScore[j].application_id) { %>
                              <%= technicalScore[j].skill_level %> in TECHNOLOGIES
                          <% } else { %>
                            NO EXAM
                          <% } %> 
                        <% } %>
                      <% } %>
                    </p>
                    <p class="card-text"><small><%= applicants[i].year_experience  %> Years Experience </small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <% } %> 
      </div>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs') %>