<%- include('./layout/header.ejs') %>
<div class="container-fluid m-0">
  <div class="row min-vh-100">
    <div class="col-3 g-0">
        <div class="p-4 mb-1" style="background-color: #e6e6e6;">
          <div class="dropdown">
            <a 
              class="btn btn-secondary d-block dropdown-toggle w-100 border-0 p-0" 
              href="#" 
              role="button" 
              id="dropdownMenuLink" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
              style="background-color: transparent; color: black;"
            >
              <% if (jobId != '') { %>
                <% for( let i = 0; i < jobOpening.length; i++ ) { %>
                  <% if (jobOpening[i].job_id == jobId) { %>
                   <div class="d-flex align-items-center">
                     <div class="me-2">
                      <strong><%= jobOpening[i].job_title %></strong>
                     </div>
                     <div>
                        <% let applicants =  0 %>
                        <p class="m-0">
                          <% for (let j=0; j < jobApplications.length; j++) { %>
                            <% if(jobOpening[i].job_id == jobApplications[j].job_id) { %>
                                <% applicants++; %>
                            <% } %>
                          <% } %>
                          <strong>( <%= applicants; %> )</strong>
                        </p>
                    </div>
                   </div>
                  <% } %>
                <% } %>
              <% } else { %>
                <div class="d-flex align-items-center">
                  <strong>Select job</strong>
                </div>
              <% } %> 
            </a>
            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
            <% for( let i = 0; i < jobOpening.length; i++) { %>
              <li>
                  <a class="dropdown-item" href="/application/job/<%= jobOpening[i].job_id %>">
                    <div class="d-flex">
                      <div><strong><%= jobOpening[i].job_title %></strong></div>
                      <div>
                        <% let applicants =  0 %>
                        <p style="text-decoration: none;">
                          <% for (let j=0; j < jobApplications.length; j++) { %>
                            <% if(jobOpening[i].job_id == jobApplications[j].job_id) { %>
                                <% applicants++; %>
                            <% } %>
                          <% } %>
                          <strong>( <%= applicants; %> )</strong>
                        </p>
                      </div>
                    </div>
                  </a>
              </li>
              <% } %> 
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/application">
                  <div class="d-flex">
                    <div class="me-2">
                      <strong>SHOW ALL</strong>
                    </div>
                    <div>
                      <% let allApplicants =  0 %>
                      <p class="m-0">
                        <% for (let i=0; i < jobApplications.length; i++) { %>
                              <% allApplicants++; %>
                        <% } %>
                        <strong>( <%= allApplicants; %> )</strong>
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-4 mb-1" style="background-color: #e6e6e6;">
          <div class="row">
            <% for (let i=0; i < adminSkill.length; i++) { %>
              <div class="col">
                <%= adminSkill[i].skill_name %> 
              </div>
            <% } %>
            </div>
          </div>
      
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Expert</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">Intermediate</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Beginner</label>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Meets Minimum years work experience</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">Expected salary within offer</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Can start immediately</label>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <% for(let i=0; i < remarks.length; i++) { %>
          <div>
            <input type="checkbox" id="dept-<%= remarks[i].remark_id %>-checkbox"
            class="all-status-checkbox" 
              onclick="showDeptFunction('<%= remarks[i].remark_id %>')"/>
            <label for="<%= remarks[i].remark_name %>">
              <%= remarks[i].remark_name %>
            </label>
          </div>
          <% } %>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2">Read</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Unread</label>
      </div>
      <div class="p-4" style="background-color: #e6e6e6;">

      </div>
    </div>
    <div class="col-3 g-0" style="height: 100vh;"> 
      <div>
        <input id="myInput" class="w-100 border-bottom m-1" type="text" placeholder="Search" style="height: 40px; border: none; outline: none;" onkeyup="buttonUp()">
      </div>
      <div style="height: 100vh; overflow: auto;">
        <% if ( applicants != 0 ) { %>
          <% for(let i = 0; i < applicants.length; i++) { %>
            <%= applicants[i].application_id %> 
            <a href="/application/job/<%= applicants[i].job_id %>/applicant/<%= applicants[i].application_id %>" style="text-decoration: none;" id="myCard">
              <div class="card mb-1 p-3" style="background-color: #666666; color: white;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/<%= applicants[i].photo %>" class="img-fluid rounded-start img" alt="This is Image" width="100">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= applicants[i].first_name %> <%= applicants[i].last_name %> </h5>
                      <div class="d-flex align-items-center">
                        <p><%= applicants[i].status %></p>
                      </div>
                      <p class="card-text"> 
                        <% for ( let j = 0; j < applicantJob.length; j++) { %>
                          <% if ( applicants[i].application_id == applicantJob[j].application_id) { %>
                            <%= applicantJob[j].skill_name %>   
                          <% } %> 
                        <% } %> 
                      </p>
                      <p class="card-text">
                        <small>
                        <%= applicants[i].year_experience  %>
                        <% if (applicants[i].year_experience > 1) { %>
                          years
                        <% } else { %>
                          year
                        <% } %> experience
                      </small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <% } %>    
        <% } else { %>
          <div class="d-flex flex-column justify-content-center min-vh-100 ps-5 border-end border-2">
            <h1>
              NO APPLICANTS
            </h1>
          </div>  
        <% } %> 
        <div class="no-results" style="display:none"><h1>no results found</h1></div>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <h1><strong>PLEASE SELECT APPLICANTS</strong></h1>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var $block = $('.no-results');
$("#myInput").keyup(function() {
    var val = $(this).val();
    var isMatch = false;
    
    $("#myCard .card").each(function(i) {
        var content = $(this).html();
        if(content.toLowerCase().indexOf(val) == -1) {
           $(this).hide();         
        } else {
            isMatch = true;
            $(this).show();
        }
    });
    $block.toggle(!isMatch);
});
});
</script>

<!-- <script>
  $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myCard .card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script> -->
<%- include('./layout/footer.ejs') %>