<%- include('./layout/resumeHeader.ejs') %>
<div class="container g-0 m-0 p-0">
  <div class="row min-vh-100 min-vw-100 g-0">
    <div class="col-sm-2 pl-1">
      <div class="d-flex flex-column">
        <div>
          <a href="/careers/job/<%= jobId %>/resume/application/<%= appId %>"
            >RESUME</a
          >
        </div>
        <div>
          <a href="/careers/job/<%= jobId %>/personality-test/application/<%= appId %>"
            >PERSONALITY TEST</a
          >
        </div>
        <div>
          <a href="/careers/job/<%= jobId %>/technical-exam/application/<%= appId %>"
            >TECHNICAL EXAM</a
          >
        </div>
        <div>
          <a 
          href="/careers/job/<%= jobId %>/technical-exam/application/<%= appId %>"
          >
            <button
            <% if(applicantExamRecord == undefined) { %>
              disabled
            <% } %> 
            >SUBMIT
            </button>
          </a>
        </div>
        
      </div>
    </div>
    <div class="col-sm-10">
      <h1>TECHNICAL EXAM</h1>
      <% if (applicantRecord == 0){ %>
        <div
        class="h-50 d-flex flex-column align-items-center justify-content-center"
        >
          <h5>APPLICANT DOES NOT EXIST</h5>
        </div>
      <% } else if(applicantExamRecord != undefined) { %>
      <div
        class="h-50 d-flex flex-column align-items-center justify-content-center"
      >
        <h5>YOU HAVE COMPLETED THE EXAM</h5>
      </div>
      <% } else if (jobQuestion != 0) { %>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, facere
          sequi. Beatae officiis ullam quia soluta temporibus dolorem voluptatem
          nulla veniam tenetur magni? Adipisci nobis ipsum sunt. Minima, nam
          neque, facilis commodi tenetur ab veniam beatae, alias molestiae
          repellat ex?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          dicta tempora aliquam amet dolor quam? Quod vero maxime impedit
          consequuntur?
        </p>
      </div>
      <div id="start-btn-container">
        <button id="start-btn">START NOW</button>
      </div>
      <div>
        <form
          action="/careers/job/<%= jobId %>/technical-exam/application/<%= appId %>"
          method="post"
          id="questions"
        >
        </form>
        <button id="save-exam" type="submit" form="questions">SAVE EXAM</button>
        <div id="next-btn-container">
          <button type="button" id="next-btn">NEXT</button>
        </div>
      </div>
      <% } else { %>
      <div
        class="h-50 d-flex flex-column align-items-center justify-content-center"
      >
        <h5>NO EXAM QUESTIONS SELECTED YET!</h5>
      </div>
      <% } %>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  let $questions = $('#questions')
  let count = 0;
  let interval = null;
  let disable = null;
  $('#next-btn').hide()
  $('#save-exam').hide()

  $(`#next-btn`).click(function(e){
    e.preventDefault();
    clearTimeout(disable)
    clearInterval(interval)
    $(`#question-container_${count}`).fadeTo(300, 0.4)
    $(`#question-container_${count}`).children().children((':radio:not(:checked)')).attr('disabled', true);
    $(`#count_${count}`).remove()
    count++
    showQuestions()
  });
  
  $("#start-btn").click((e)=>{
    e.preventDefault()
    e.target.remove();
    showQuestions()
  });

  function showQuestions(){
    $.get("/careers/job/<%= jobId %>/technical-exam", function(data, status){
      // console.log("Data: " + JSON.stringify(data.responseQuestion[count]) + "\nStatus: " + status);
      $('#next-btn').show()
      if(JSON.stringify(data.responseQuestion[count]) !== undefined){
        $questions.append(`<div id="question-container_${count}">
                            <div class="d-flex">
                            <h3>${data.responseQuestion[count].question_detail}</h3>
                            <input type="hidden"
                              name="question_type"
                              value="${data.responseQuestion[count].question_type}"
                              readonly
                            >
                            <input type="hidden"
                              name="question_id"
                              value="${data.responseQuestion[count].question_id}"
                              readonly
                            >
                            <h5 id="count_${count}" class="mx-auto">
                              Time limit: ${data.responseQuestion[count].question_time_limit}
                            </h5>
                            </div>
                            <div class="d-none">
                              <input type="radio"
                                name="applicant_answer[${count}]"
                                id="choice-0"
                                value="0"
                                checked
                              >
                              <label for="choice_0">No answer</label>
                            </div>
                            <div>
                            <input type="radio"
                              name="applicant_answer[${count}]"
                              id="choice-1"
                              value="1"
                            >
                            <label for="choice_1">${data.responseQuestion[count].choice_1}</label>
                            </div>
                            <div>
                            <input type="radio"
                              name="applicant_answer[${count}]"
                              id="choice-2"
                              value="2"
                            >
                            <label for="choice_2">${data.responseQuestion[count].choice_2}</label>
                            </div>
                            <div>
                            <input type="radio"
                              name="applicant_answer[${count}]"
                              id="choice-3"
                              value="3" 
                            >
                            <label for="choice_3">${data.responseQuestion[count].choice_3}</label>
                            </div>
                            <div>
                            <input type="radio"
                              name="applicant_answer[${count}]"
                              id="choice-4"
                              value="4" 
                            >
                            <label for="choice_4">${data.responseQuestion[count].choice_4}</label>
                            </div>
                          </div>`)
              
              let $counter = data.responseQuestion[count].question_time_limit;
              // question timer
              if($counter != 0){
                interval = setInterval(() => {
                  $counter--;
                  $(`#count_${count}`).html('Time limit: ' + $counter);
                  if($counter == 0){
                    clearInterval(interval);
                  }
                }, 1000);

                // disables the question after the time limit
                disable = setTimeout(()=>{
                  $(`#question-container_${count}`).fadeTo(100, 0.5)
                  $(`#question-container_${count}`).children().children((':radio:not(:checked)')).attr('disabled', true);
                  $(`#count_${count}`).remove()
                  count++
                  showQuestions()
                }, data.responseQuestion[count].question_time_limit*1000)
              } else {
                $(`#count_${count}`).html('Time limit: &#8734');
              }
      } else {
        $('#next-btn').remove()
        $('#save-exam').show()
        return
      }
      
    });
  }
});
</script>
<%- include('./layout/resumeFooter.ejs') %>
