<%- include('./layout/header.ejs') %>
<div class="container-fluid">
  <div class="row" style="padding-top: 65px;">
    <div class="col-sm-2 sidenav">
      <div class="mb-1 p-4 sidenavtab" style="background-color: #f2f2f2;">
        <a href="/branding">Branding</a>
      </div>
      <div class="mb-1 p-4 sidenavtab">
        <a href="/users">Users</a>
      </div>
      <div class="mb-1 p-4 sidenavtab">
        <a href="/system-variables">System Variables</a>
      </div>
      <div class="p-4 mb-1 sidenavtab" style="height: 66vh;">
        
      </div>
      <div class="mt-auto mb-1 p-4 sidenavtab">
        <a href="/">BACK TO JOB PAGE</a>
      </div>
  </div>
    <div class="col-sm-10 p-4 main">
      <h4>Branding</h4>

      <form action="/branding" method="post" enctype="multipart/form-data">
        <div class="mb-2">
          <label for="company_name" style="font-weight: 500;">Company Name</label>
          <div>
            <input type="text"
            <% if (branding != 0) { %>
              value="<%= company_name %>"
            <% } %>
            name="company_name" id="company_name"
            class="border-0 w-25 px-2"
            style="height: 50px"

            >
          </div>
        </div>
        <div class="mb-2">
          <span style="font-weight: 500;">Company Logo</span>
          <div class="input-group custom-file-button w-25" >
            <% if (company_logo != null) { %>
              <!-- allows to click on photo to change photo -->
              <label style="height: 50px;" for="file1">
                <img src="/<%= company_logo %>"  
                  width="50" 
                  height="50" 
                  class="img-thumbnail p-0" 
                  id="output_1"
                >
              </label>
              <!-- allows to change photo -->
              <input 
                type="file" 
                id="file1" 
                name="file1" 
                style="display: contents;" 
                onchange="loadFile(event, '1')"
              >
              <!-- allows to edit user without changing image -->
              <input type="hidden" name="old_image1" value="<%= company_logo %>">
            <% } else { %>
              <label for="file1" class="input-group-text border-0 bg-white" style="height: 50px;">
                <i class="fa-solid fa-image text-muted pe-2" ></i>  Select a file
              </label>
              <!-- <input type="file" id="photo" name="photo" style="display: contents; " onchange="loadFile(event)" ></i> -->
              <input style="height: 50px; padding-top: 13px;" class="form-control border-0" type="file" name="file1" id="file1">
              <img height="40" id="output_1">
            <% } %> 
          </div>
        </div>
        <div class="mb-2 mt-4">
          <span style="font-weight: 500;">Login Background Image</span>
          <div class="input-group custom-file-button w-25">
            <!-- <label for="login_bg" class="input-group-text border-0 bg-white" style="height: 50px;">
              <i class="fa-solid fa-image text-muted pe-2"></i> Select a file
            </label>
            <input style="height: 50px; padding-top: 13px;" class="form-control border-0" type="file" name="login_bg" id="login_bg"> -->
            <% if (login_bg != null) { %>
              <!-- allows to click on photo to change photo -->
              <label style="height: 50px;" for="file2">
                <img src="/<%= login_bg %>"  
                  width="50" 
                  height="50" 
                  class="img-thumbnail p-0" 
                  id="output_2"
                >
              </label>
              <!-- allows to change photo -->
              <input 
                type="file" 
                id="file2" 
                name="file2" 
                style="display: contents;" 
                onchange="loadFile(event, '2')"
              >
              <!-- allows to edit user without changing image -->
              <input type="hidden" name="old_image2" value="<%= login_bg %>">
            <% } else { %>
              <label for="file2" class="input-group-text border-0 bg-white" style="height: 50px;">
                <i class="fa-solid fa-image text-muted pe-2" ></i>  Select a file
              </label>
              <!-- <input type="file" id="photo" name="photo" style="display: contents; " onchange="loadFile(event)" ></i> -->
              <input style="height: 50px; padding-top: 13px;" class="form-control border-0" type="file" name="file2" id="file2">
              <img height="40" id="output_2">
            <% } %> 
          </div>
        </div>
        <button 
          class="px-5 py-3" 
          style="background-color: #4d4d4d; color: white; border: none;"
          >SAVE
        </button>
      </form>

      <div style="opacity: 0.5;" >
        <h4>Colors</h4>
        <% for( let i = 0; i < items.length; i++ ) { %>
          <div>
            <label for="<%= names[i] %>">
              <%= items[i] %>
              <input
                disabled
                type="color"
                name="<%= names[i] %>"
                id="<%= names[i] %>"
                style="width: 15px; height: 15px; border: none;"
                >
            </label>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<style>
  .custom-file-button input[type=file] {
  margin-left: -2px !important;
  }

  .custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
  }

  .custom-file-button input[type=file]::file-selector-button {
    display: none;
  }

  .custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer;
  }
</style>
<script>
  // $('form').on('change', function(){
  //   let companyName = $('#company_name').val(),
  //     companyLogo = $('#photo').val();

  //   alert(companyLogo)
  //   $('#company_name_place').html(companyName);

  //   if(companyLogo != 0){
  //     $('#company_logo_place').html(companyLogo);
  //   }

  //   $.post('/branding', {company_name: companyName, company_logo: companyLogo })
  // })

  var loadFile = function(event, num) {
    var output = document.getElementById(`output_${num}`);
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src)
    }
  };
</script>
<%- include('./layout/footer.ejs') %>
