<%- include('./layout/header2.ejs') %>
<link rel="stylesheet" href="/style.css" />

    <div class="content-title text-left">
                    
                   
      <% for (let i=0; i < job_details.length; i++) { %>
               <h1>
              <%= job_details[i].role %>
                </h1>
                    
      

               <h2>Job Description</h2>
                <h3>The Role &amp; The Team</h3>
                    <p>
                      <%= job_details[i].category%>
                    </p>


                    <h3>What You Will Do</h3>
                    <ul>
                      <p><%= job_details[i].item_description %></p>
                    </ul>
                    <h3>What We Are Looking For</h3>
                    <ul>
                      <p><%= job_details[i].item_definition %></p>
                    </ul>
                    <h3>BENEFITS</h3>
                    <ul>
                      <p><%= job_details[i].benefits%></p>
                      <% } %>
                    </ul>
                    <div>
                    </div>
                  </div>
                






                

    <div class="button-wrapper">
      <button type="submit" class="btn ">Apply Now</button>
    </div>
  </form>
  <%- include('./layout/footer2.ejs') %> 
