<%- include('./layout/header2.ejs') %>

  <div class="columns">

    <button onclick="showAllFunction()">Show All</button> 
    <% for (let i=0; i < admin_department.length; i++) { %>
      <% let noSpaceDept = admin_department[i].dept_name.replace(/\s/g, ''); %>
      <div id="buttons">
        <button onclick="toggleShowHide('<%= noSpaceDept %>')">
          <%= admin_department[i].dept_name %>
        </button>

        <% } %>
      </div>


      <% for (let i=0; i < job_opening.length; i++) { %>
        <% let noSpaceDept = job_opening[i].job_dept.replace(/\s/g, ''); %>
        <div class="all-btn <%= noSpaceDept %>-btn dept">
          <span>
            <%= date_opened %>
          </span>
          <h1>
            <%= job_opening[i].job_title %>
          </h1>
          <a href="/careers"><button class="btns">Apply Now</button></a>
        </div>
  </div>
  <% } %>

    <%- include('./filterFunctions/careersMainFilter.ejs') %>
<%- include('./layout/footer2.ejs') %>
