<%- include('./layout/header2.ejs')  %>  
  
  <div class="container-fluid">
    <% if (active_job_opening != 0) { %> 
    <div class="row ps-5">
      <div class="d-flex me-2 pb-3 ps-0" style="padding-top: 15vh;">
        <div id ="buttons">
          <button class="change-color me-3" onclick="showAllFunction()">Show All</button>
         <% for (let  i = 0; i < admin_department.length; i++) { %>
        <button class="change-color me-3" onclick="toggleShowHide('<%= admin_department[i].dept_id %>')">
          <%= admin_department[i].dept_name %>
        </button>
        <% } %>
      </div>
      </div>
        <% for (let i = 0; i < active_job_opening.length; i++) { %>
          <div class ="all-btn dept-<%= active_job_opening[i].job_dept %>-btn dept col-md-4 col-sm-12 card p-4 me-3 mb-3" style="width: 450px;">

            <% if (date[i].job_id == active_job_opening[i].job_id) { %>
              <% if (date[i].date != 'Invalid date') { %>
                <span style="color: #acb3c2;" id="job-<%= active_job_opening[i].job_id %>-date"><%= date[i].date %></span>
              <% } else { %>
                <span style="color: #acb3c2;" id="job-<%= active_job_opening[i].job_id %>-date">Not opened</span>
              <% } %>
            <% } %>

            <p style="font-size: 1.5em; font-family: 'Segoe UI',Roboto,'Helvetica Neue',sans-serif;"><%= active_job_opening[i].job_title %></p>
            <div class="d-flex mb-auto" style="gap: 5px;">
              <% for (let j=0; j < jobSkill.length; j++) { %>
                <% if(active_job_opening[i].job_id == jobSkill[j].job_id) {%> 
                  <div class="border border-1" style="padding: 0 5px;">

                    <span><%= jobSkill[j].skill_name %></span>
                  </div>
                  <% } %>
              <% } %>
            </div>
            <div>
              <a href="/careers/job/<%= active_job_opening[i].job_id %>"><button class="btns" style="background-color: #93268f; color: #fff; border: 2px solid #93268f; border-radius: 5px; width: 8em; margin-top: 0.4rem !important; padding: 10px 5px;">APPLY NOW</button></a>
            </div>
          </div>  
        <% } %>
    </div>
    <% } else{  %> 
      <h5 style="padding-top: 15vh;"> NO ACTIVE JOBS </h5>
    <% } %> 
  
  </div>
  
<%- include('./filterFunctions/careersMainFilter.ejs') %>
<%- include('./layout/footer2.ejs')  %>  


  

