<%- include('./layout/header2.ejs')  %>  
  
<div class="columns">       
  <div class="d-flex mr-2">
    <div id ="buttons">
      <button onclick="showAllFunction()">Show All</button>
     <% for (let  i = 0; i < admin_department.length; i++) { %>
    <button onclick="toggleShowHide('<%= admin_department[i].dept_name %>')">
      <%= admin_department[i].dept_name %>
    </button>
    <% } %>
  </div>
  </div>
  
  <div class="container">
    <div class="row">
        <% for (let i = 0; i < job_opening.length; i++) { %>
          <div class ="all-btn <%= job_opening[i].job_dept %>-btn dept col-lg-3 col-md-4 col-sm-12">  
            <span><%= date_opened %></span>    
            <h1><%= job_opening[i].job_title %></h1>
            <a href="/careers"><button class="btns">Apply Now</button></a>
          </div>  
        <% } %>
    </div>
  </div>

</div>   

<script>

  function showAllFunction() {
    const allJobs = document.querySelectorAll('.all-btn');
      allJobs.forEach((element) => {
        element.classList.remove('d-none');
      });
    }
  
    function toggleShowHide(dept_name) {
      const allDept = document.querySelectorAll('.dept');
      const target = document.querySelectorAll(`.${dept_name}-btn`);
      allDept.forEach((element) => {
        element.classList.add('d-none');
      });
      target.forEach((element) => {
        element.classList.remove('d-none');
      });
    }
          </script>
  

<%- include('./layout/footer2.ejs')  %>  


  
