<%- include('./layout/header2.ejs') %>
  <div class="content-title text-left">
    
    <% for( let i = 0; i < jobOpening.length; i++){ %> 
      <div
        <% for (let j=0; j < admin_department.length; j++) { %> 
          <% if(jobOpening[i].job_dept == admin_department[j].dept_name) {%>
            <% let noSpaceDept =  admin_department[j].dept_name.replace(/\s/g, ''); %> 
            class="all-jobs <%= noSpaceDept %>"
          <% } %> 
        <% } %> 
      >
      <div class="pb-4">
        <h2><%= jobOpening[i].job_title %> </h2>
      </div>

      <div class="d-flex">
        <% for (let j=0; j < jobSkill.length; j++) { %>
          <div class="">
            <% if(jobOpening[i].job_id == jobSkill[j].job_id) {%> 
              <div style="border: solid black 2px; padding: 0 5px;">
                <a href="/careers"><%= jobSkill[j].skill_name %></a> 
              </div>
            <% } %>
          </div>
        <% } %>
      </div>


      <div class="pb-4">
        <% for (let j=0; j < jobDetail.length; j++) { %>
          <p> <%= jobDetail[j].role %>  </p>
        <% } %>
      </div>

      <div class="pb-4">
        <p><%= jobOpening[i].job_description %> </p>
      </div>
    <%} %> 
    <div class="pb-4">
      <h3>Responsibities</h3>
      <% for(let i = 0; i < responsibility.length; i++ ){ %>
        <li><%= responsibility[i].responsibility_detail %> </li>
      <% } %> 
    </div>
    <div class="pb-4">
      <h3>Qualification</h3>
      <% for(let i = 0; i < qualification.length; i++ ){ %>
        <li><%= qualification[i].qualification_detail %> </li>
      <% } %> 
    </div>
  <div class="button-wrapper">
    <a href="/careers/job/<%= jobId %>/resume"><button class="btns">Apply Now</button></a>
  </div>
</div>
  <%- include('./layout/footer2.ejs') %> 

