<%- include('./layout/header2.ejs')  %>  
  <div class="columns">
    <div id="item" class="column col-12 extra-spacing flex-content">                    
      <link rel="stylesheet" href="/style.css" />
    </div>
    <section id="start">
        <section id="body-wrapper" class="section blog-listing">
    <section class="container grid-lg">

        <section id="start">
            <section id="body-wrapper" class="section blog-listing">
        <section class="container grid-lg">
        
            <div class="button-filters">
            <% for (let  i = 0; i < job_description.length; i++) { %>
            <tr>
                <form method="get">
                <td><input type="button" value='<%= job_description[i].filter_function %>'value= <%= job_description[i].filter_function %> /> </td>
                
            </tr>
                </button>
                <% } %>
             
        </div>
      </div>
    </div>
</div>
</form>
  
<div class="columns">
<div id="item" class="column col-12 extra-spacing">
    
            <div class="bricklayer">
                                <div class="card all adm">
        <div class="card-inner" >
    <div class="card-inner-container">

        <div class="card-header">
            <div class="card-subtitle text-gray">
                <span class="blog-date">
                    <tbody>                 
 <% for (let i = 0; i < job_opening.length; i++) { %>                   
    <i class="fa fa-calendar"></i> 
        <h1><%= job_opening[i].date_opened %></h1>
</time>
</span>
    </div>
<tbody>
        
<div class="card-title">
                    <h1><%= job_opening[i].job_title %></h1>
                    
            </div>
            <span class="tags">
    <a class="label label-rounded label-secondary p-category" href="/careers/tag:Human Resources">
            <h1><%= job_opening[i].job_dept %></h1>
      
    </a>
</span>
            <br>
        </div>
        <div class="card-footer careers-card ">
            <a href="/careers"><button class="btns mt-2">Apply Now</button></a>
            <% } %>
        </div>
    </div>
</div>
</div>
<script src="filter-function.js"></script>
</tbody>





<%- include('./layout/footer2.ejs')  %>  


  
