<%- include('./layout/header2.ejs')  %>  
  

            
     <% for (let  i = 0; i < job_description.length; i++) { %>
 <div id ="buttons <%= job_description[i].filter_id %>()" >
 <input type="button"
 value="<%= job_description[i].filter_function %>"
 id="<%= job_description[i].id %>">     
  
   <% } %>
  </div>
  

  <% for (let i = 0; i < job_opening.length; i++) { %>
<div class ="card">     
  <span><%= job_opening[i].date_opened %></span>    
     <h1><%= job_opening[i].job_title %></h1>
     
   <a href="/careers"><button class="btns">Apply Now</button></a>
    <% } %>
  </div>  
</div>   



<%- include('./layout/footer2.ejs')  %>  


  
