<%- include('./layout/header2.ejs')  %>  
  <div class="columns">
    <div id="item" class="column col-12 extra-spacing flex-content">                    
      <link rel="stylesheet" href="/style.css" />
      <script>
function hide(){

const collection = document.getElementsByClassName("all");
for (let i = 0; i < collection.length; i++) {
  collection[i].style.display = "none";
}
}
function show(){
const collection = document.getElementsByClassName("all");
for (let i = 0; i < collection.length; i++) {
  collection[i].style.display = "block";
}
}
 function sqa(){
        
const show = document.getElementsByClassName("all");
const sqa = document.getElementsByClassName("sqa");
        //for (let i = 0; i < show.length; i++) {
        //  show[i].style.display = "none";
        //}
        for (let i = 0; i < sqa.length; i++) {
          sqa[i].style.display = "block";
        }
        
        }
        function mkt(){
        
          const show = document.getElementsByClassName("all");
          const mkt = document.getElementsByClassName("mkt");
          //for (let i = 0; i < show.length; i++) {
          //  show[i].style.display = "none";
          //}
          for (let i = 0; i < mkt.length; i++) {
            mkt[i].style.display = "block";
          }
          
          }
          function adm(){
        
            const show = document.getElementsByClassName("all");
            const adm = document.getElementsByClassName("adm");
            //for (let i = 0; i < show.length; i++) {
            //  show[i].style.display = "none";
            //}
            for (let i = 0; i < adm.length; i++) {
              adm[i].style.display = "block";
            }
            
            }
            function se(){
        
              const show = document.getElementsByClassName("all");
              const se = document.getElementsByClassName("se");
              //for (let i = 0; i < show.length; i++) {
              //  show[i].style.display = "none";
              //}
              for (let i = 0; i < se.length; i++) {
                se[i].style.display = "block";
              }
              
              }
            </script>
     </head>
    
    
     <div id ="buttons">
        <% for (let  i = 0; i < job_description.length; i++) { %>
        <input type="button"
        value="<%= job_description[i].filter_function %>"
        id="<%= job_description[i].id %>"
        class="<%= job_description[i].id %>()"
        action="<%= job_description[i].id %>()"       
        method="get">
        <className="sqa ">
            <className="se">
                <className="show ">
                    <className="hide ">
                <% } %>
        </div>
    </div>
</div>
<% for (let i = 0; i < job_opening.length; i++) { %>
<div class ="card"
        input type="card"
        class="<%= job_opening[i].filter %>"
        id="<%= job_opening[i].filter %>()"
        action="<%= job_opening[i].filter %>()"
            method="get">
            
        <tbody>                              
    <span class="blog-date">           
    <i class="fa fa-calendar"></i> 
     <h1><%= job_opening[i].date_opened %></h1>
     <h1><%= job_opening[i].job_title %></h1>
    <a class="label label-rounded label-secondary p-category" href="/careers/tag:Human Resources">
     <h1><%= job_opening[i].job_dept %></h1>
     <a href="/careers"><button class="btns mt-2">Apply Now</button></a>
    <% } %>
        </div>
                
    </time>
</span>
        </class>
    </div>
</div>

</tbody>

<%- include('./layout/footer2.ejs')  %>  


  
