<%- include('./layout/header.ejs') %>

<div class="row min-vh-100">
  <div class="col-sm-2">
    <div class="d-flex flex-column">
      <a href="/examcreation">+ NEW QUESTION</a>
      <a
      <% if (personality != 0) { %>  
        href="/examcreation/Personality/<%= personality[0].question_id %>"
      <% } else { %>
        href="/examcreation/Personality"
      <% } %>
      >
      Personality
      <% let personalityCount =  0 %>
        <% for (let j=0; j < personality.length; j++) { %>
          <% personalityCount++; %>
        <% } %>
        (<%= personalityCount%>)
      </a>
      <% for (let i=0; i < skill.length; i++) { %>
      <a
      <%  for (let j=0; j < qSkill.length; j++) { %>
        <% if (skill[i].skill_id == qSkill[j].skill_id) { %>
          href="/examcreation/<%= skill[i].skill_name %>/<%= qSkill[j].question_id %>"
        <% } %>
      <% } %>
        class="w3-bar-item sidebar"
      >
      <%= skill[i].skill_name %>
        <% let categoryCount =  0 %>
        <% for (let j=0; j < qSkill.length; j++) { %>
          <% if (skill[i].skill_id == qSkill[j].skill_id && qSkill[j].question_id != null) { %>
            <% categoryCount++; %>
          <% } %>
        <% } %>
        (<%= categoryCount%>)
        
      </a>
      <% } %>
    </div>
  </div>
  <% if (allCategoryQuestion != 0){ %>
  <div class="col-sm-4">
    <% for (let i=0; i < allCategoryQuestion.length; i++) { %>
      <a
      href="/examcreation/<%= allCategoryQuestion[i].question_category %>/<%= allCategoryQuestion[i].question_id %>"
      style="color: white;"
      >
      <% for (let j=0; j < question.length; j++){%>
        <div class="p-3" style="background-color: gray;">
          <div class="d-flex justify-content-between">
            <p>
              <%= allCategoryQuestion[i].question_category %>
              <% if(question[j].question_type =='0' ){ %>
               | LEVEL <%=
              allCategoryQuestion[i].question_level %> 
              <% } %>
            </p>
      <% } %>
            <div>
              <form
              method="GET"
              action="/deleteExam/<%= allCategoryQuestion[i].question_category %>/<%= allCategoryQuestion[i].question_id %>"
              >
                <button type="submit" style="background: transparent; border: none; color: white;"><i class="fa-solid fa-xmark"></i></button>
              </form>
            </div>
          </div>
          <p>
            <%= allCategoryQuestion[i].question_detail %>
          </p>
        </div>
      </a>
      <% } %>
  </div>
  <div class="col-sm-6">
    <form action="/examcreation/<%= questionCategory %>/<%= questionId %>" method="POST">
      <div>
        <div>
          <input 
          list="categoryList"
          placeholder="Select Category" 
          name="questionCategory" 
          id="inputCategory"
          required
          <% for (let j=0; j < question.length; j++) { %>
      class="form-select <% if(question[j].question_type =='1' ){ %>  d-none <% }%>"
          <% } %> 
          onblur="CheckListed(this.value)"
    value="<%=question[0].question_category %>"
          >
          <datalist id="categoryList">
            <% for (let i=0; i < skill.length; i++) { %>
              <option value="<%=skill[i].skill_name %>">  
                <%=skill[i].skill_name %>
              </option>
            <% } %> 
            <option hidden disabled value="Personality">Personality</option>
          </datalist>
          <span id="output"></span>
        </div>
  </div>
      
      <% for (let i=0; i < question.length; i++){%>
      <div class="form-floating <% if(question[i].question_type =='1' ){ %>  d-none <% }%>">
        <select
          name="questionlevel"
          class="form-select"
          id="floatingSelectGrid"
          aria-label="Floating label select example"
        >
        <% }  %>
          <% for (let i=0; i < question.length; i++){%>
          <option <% if(question[i].question_level =='1' ){ %>  selected <% }%> value="1">1</option>
          <option <% if(question[i].question_level =='2' ){ %>  selected <% }%>value="2">2</option>
          <option <% if(question[i].question_level =='3' ){ %>  selected <% }%>value="3">3</option>
          <option <% if(question[i].question_level =='4' ){ %>  selected <% }%>value="4">4</option>
          <option <% if(question[i].question_level =='5' ){ %>  selected <% }%>value="5">5</option>
          <option hidden <% if(question[i].question_level =='0' ){ %>  selected <% }%>value="0">5</option>
          <%} %>
        </select>
        <label for="questionlevel">Level</label>
      </div>
      <% for (let i=0; i < question.length; i++){%>
      <div class="form-floating">
        <input
          type="text"
          name="questiontimer"
          class="form-control <% if(question[i].question_type =='1' ){ %>  d-none <% }%>"
          id="floatPlace"
          placeholder="Timer"
          required
          value="<%= question[0].question_time_limit %>"
        />
        <label for="floatPlace">Timer</label>
      </div>

      <div class="form-floating">
        <input
          type="text"
          name="questiondetail"
          class="form-control"
          id="floatPlace"
          placeholder="Question"
          required
          value="<%=question[0].question_detail %>"
        />
        <label for="floatPlace">Question</label>
      </div>

      <div class="form-floating">
        <% for (let i=0; i < question.length; i++){%>
          
          <input type="radio" class="<% if(question[i].question_type =='1' ){ %>  d-none <% }%>" value="1" name="correctAnswer" <% if(question[i].correct_answer =='1' ){ %>  checked <% }  %> />
          <input
            type="text"
            class="form-control floatPlace"
            placeholder="Question 1"
            name="choice_1"
            required
            value="<%= question[0].choice_1 %>"
          />
          <% }  %>
          <input
            type="text"
            class="form-control floatPlace <% if(question[i].question_type =='0' ){ %>  d-none <% }%>"
            placeholder="Value"
            name="value_1"
            required
            value="<%= question[0].choice_1_value %>"
          />
          

          <input type="radio" class="<% if(question[i].question_type =='1' ){ %>  d-none <% }%>" value="2" name="correctAnswer" <% if(question[i].correct_answer =='2' ){ %>  checked <% }  %> />
          <input
            type="text"
            class="form-control floatPlace"
            placeholder="Question 1"
            name="choice_2"
            required
            value="<%= question[0].choice_2 %>"
          />
          <input
            type="text"
            class="form-control floatPlace <% if(question[i].question_type =='0' ){ %>  d-none <% }%>"
            placeholder="Value"
            name="value_2"
            required
            value="<%= question[0].choice_2_value %>"
          />
          <input type="radio" class="<% if(question[i].question_type =='1' ){ %>  d-none <% }%>" value="3" name="correctAnswer" <% if(question[i].correct_answer =='3' ){ %>  checked <% }  %> />
          <input
            type="text"
            class="form-control floatPlace"
            placeholder="Question 1"
            name="choice_3"
            required
            value="<%= question[0].choice_3 %>"
          />
          <input
            type="text"
            class="form-control floatPlace <% if(question[i].question_type =='0' ){ %>  d-none <% }%>"
            placeholder="Value"
            name="value_3"
            required
            value="<%= question[0].choice_3_value %>"
          />

          <input type="radio" class="<% if(question[i].question_type =='1' ){ %>  d-none <% }%>" value="4" name="correctAnswer" <% if(question[i].correct_answer =='4' ){ %>  checked <% }  %> />
          <input
            type="text"
            class="form-control floatPlace"
            placeholder="Question 1"
            name="choice_4"
            required
            value="<%= question[0].choice_4 %>"
          />
          <input
            type="text"
            class="form-control floatPlace <% if(question[i].question_type =='0' ){ %>  d-none <% }%>"
            placeholder="Value"
            name="value_4"
            required
            value="<%= question[0].choice_4_value %>"
          />
        <%} %>
      </div>
      <button type="">Save</button>
    </form>
  </div>
  <%} else { %>
    <div class="col-sm-10">
      <div class="h-50 d-flex flex-column align-items-center justify-content-center">
      <h5>NO ITEM IN THIS CATEGORY</h5>
      <a href="/examcreation">
      <h5>CREATE A NEW ONE</h5>
    </a>
      </div>
    </div>
  <% } %>
</div>

<%- include('./layout/footer.ejs') %>