<%- include('./layout/header.ejs') %>
<div class="container-fluid px-0" style="overflow-x: hidden;">
<div class="row" style="padding-top: 65px;">
  <div class="col-sm-2" style="background-color: #f2f2f2;">
    <div class="d-flex flex-column">
      <div class="p-3 mb-1" style="background-color: #e6e6e6;">
        <a href="/job-requirement/<%= jobId %>" style="text-decoration: none; color: black;">JOB REQUIREMENT</a>
      </div>
      <div class="p-3 mb-1" style="background-color: #e6e6e6;">
        <a href="/job-details/<%= jobId %>" style="text-decoration: none; color: black;">JOB DETAILS</a>
      </div>
      <div class="p-3 mb-1" style="background-color: #e6e6e6;">
        <a href="/exam/<%= jobId %>" style="text-decoration: none; color: black;">EXAM</a>
      </div>
      <div class="p-5 mb-1" style="background-color: #e6e6e6; height: 88vh;">
        
      </div>
      <div class="p-3 mt-auto" style="background-color: #e6e6e6;">
        <a href="/" style="text-decoration: none; color: black;">BACK TO JOBS PAGE</a>
      </div>
    </div>
  </div>

  <div class="col-sm-10 p-3" style="background-color: #f2f2f2;">
    <h4>EDIT JOB OPENING</h4>
    <form method="post" action="/job-requirement/<%= jobId %>" id="jobForm">
      <div class="container-fluid p-0 m-0">
        <div class="row">
          <div>
            <input type="hidden" name="jobId" value="<%= unique %>" readonly>
          </div>
          <div class="col-8 form-floating ps-0 pe-2 mb-2">
            <input 
              class="w-100 form-control ps-2 border-0" 
              placeholder="JOB TITLE" 
              type="text" 
              name="jobTitle" 
              value="<%= job[0].job_title %> "
            >
            <label for="jobtitle">JOB TITLE</label>
          </div>
          <div class="col-4 form-floating ps-0">
            <select class="form-select w-100 border-0" name="department" id="department"> 
              <% for(let i = 0; i < dept.length; i++) { %>
                <% if (dept[i].dept_id == job[0].job_dept) { %>
                  <option value="<%= dept[i].dept_id %>" selected>
                    <%= dept[i].dept_name %>
                  </option>
                <% } else {%>
                  <option value="<%= dept[i].dept_id %>">
                    <%= dept[i].dept_name %>
                  </option>
                <% } %>
              <% } %>
            </select>
            <label for="department">DEPARTMENT</label>
          </div>
          <div class="col-4 form-floating ps-0">
            <select class="form-select border-0" name="careerLevel" id="career level" >
              <% for(let i = 0; i < positionLevel.length; i++) { %>
                <% if (positionLevel[i].position_level_name == job[0].position_level) { %> 
                  <option value="<%= positionLevel[i].position_level_name %>" selected>
                    <%= positionLevel[i].position_level_name %>
                  </option>
                <% } else { %> 
                  <option value="<%= positionLevel[i].position_level_name %>">
                    <%= positionLevel[i].position_level_name %>
                  </option>
                <% } %> 
              <% } %>
            </select>
            <label for="career level">CAREER LEVEL</label>
          </div>
          <div class="col-4 form-floating ps-0">
            <input class="w-100 form-control border-0" type="number" min="1" name="salaryRange" id="salary range" value="<%= job[0].max_salary %>">
            <label for="salary range">SALARY RANGE</label>
          </div>
          <div class="col-4 form-floating ps-0 mb-2">
            <select class="form-select w-100 border-0" name="workType" id="work type">
              <% for(let i = 0; i < jobType.length; i++) { %>
                <% if (jobType[i].job_type_name == job[0].job_type) { %>
                  <option value="<%= jobType[i].job_type_name %>" selected><%= jobType[i].job_type_name %></option>
                  <% } else { %>
                    <option value="<%= jobType[i].job_type_name %>"><%= jobType[i].job_type_name %></option>
                    <% } %>
                <% } %>
            </select>
            <label for="work type">WORK TYPE</label>
          </div>
          <div class="col-12 form-floating ps-0 mb-3">
            <textarea 
              class="form-control border-0" 
              style="height: 200px; resize: none;"
              type="text" 
              id="jobdesc" 
              name="jobDesc" 
              required
            ><%= job[0].job_description %></textarea>
            <label for="jobdesc">JOB DESCRIPTION</label><br />
          </div>
          <br>
        </div>
      </div>

    <h4>MINIMUM QUALIFICATIONS</h4>
      <div class="container-fluid p-0 m-0">
        <div class="row">
          <div class="col-4 form-floating ps-0 mb-3">
            <input class="form-control w-100 border-0" type="number" min="0" id="years" name="yearsOfExp" value="<%= job[0].min_years_experience %>" required/>
            <label for="years">YEARS OF EXPERIENCE</label>
          </div>
          <div class="col-4 form-floating ps-0 mb-3">
            <input class="form-control w-100 border-0" type="number" min="0" id="skill score" name="skillScore" value="<%= job[0].skill_score %>" required/>
            <label for="skill score">EXAM SCORE</label>
          </div>
         <div class="col-4 form-floating ps-0 mb-3">
           <input class="form-control w-100 border-0" type="number" min="0" id="personality score" name="personalityScore" value="<%= job[0].personality_score %>"/>
           <label for="personality score">PERSONALITY SCORE</label>
         </div>
        </div>
      </div>
    
      <h4>PROGRAMMING LANGUAGES, IDE AND FRAMEWORKS</h4>
      <% for(let i=0; i < adminSkill.length; i++) { %>
        <div class="skilltype <%= adminSkill[i].skill_type %>">
        <input
          type="checkbox"
          id="checkbox-<%= adminSkill[i].skill_id %>"
          class="all-checkbox"
          name="skill_id"
          value="<%= adminSkill[i].skill_id %>"
          onclick="selectDefaultRadio('<%= adminSkill[i].skill_id %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id) {%> 
              checked
            <% } %>
          <% } %>
        />
        <label for="<%= adminSkill[i].skill_name %>">
          <%= adminSkill[i].skill_name %></label
        >
        <input 
          type="radio" 
          name="skill_level[<%= adminSkill[i].skill_id %>]" 
          value="1"
          id="radio-1-<%= adminSkill[i].skill_id %>"
          class="radio-<%= adminSkill[i].skill_id %>"
          onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '1') {%> 
              checked
            <% } %>
          <% } %>
          />
        <label for="1">1</label>

        <input 
          type="radio" 
          id="2" 
          name="skill_level[<%= adminSkill[i].skill_id %>]" 
          value="2"
          class="radio-<%= adminSkill[i].skill_id %>"
          onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '2') {%> 
              checked
            <% } %>
          <% } %>
        />
        <label for="2">2</label>

        <input 
          type="radio" 
          id="3" 
          name="skill_level[<%= adminSkill[i].skill_id %>]" 
          value="3"
          class="radio-<%= adminSkill[i].skill_id %>"
          onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '3') {%> 
              checked
            <% } %>
          <% } %>
        />
        <label for="3">3</label>

        <input 
          type="radio" 
          id="4" 
          name="skill_level[<%= adminSkill[i].skill_id %>]" 
          value="4"
          class="radio-<%= adminSkill[i].skill_id %>"
          onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '4') {%> 
              checked
            <% } %>
          <% } %> 
        />
        <label for="4">4</label>

        <input 
          type="radio" 
          id="5" 
          name="skill_level[<%= adminSkill[i].skill_id %>]" 
          value="5"
          class="radio-<%= adminSkill[i].skill_id %>"
          onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '5') {%> 
              checked
            <% } %>
          <% } %>
        />
        <label for="5">5</label>
        </div>
      <% } %> 
      <h7>Status</h7>
      <div>
        <input type="radio" id="Draft" name="status" value="1"
        <% if(job[0].status == 1) {%> 
          checked
        <% } %>
        >
         <label for="Draft">Draft</label>
        <input type="radio" id="Active" name="status" value="0"
        <% if(job[0].status == 0) {%> 
          checked
        <% } %>
        >
          <label for="Active">Active</label>
        <input type="radio" id="Archive" name="status" value="2"
        <% if(job[0].status == 2) {%> 
          checked
        <% } %>
        >
          <label for="Archive">Archive</label>
      </div><br>
    
    </form>
      <div>
        <h4>EXAM</h4>
        <ul>
          <% if(jobQuestion != 0) { %>
            <% for (let i = 0; i < jobQuestion.length; i++) { %>
              <form action="/delete/job/<%= jobId %>/<%= jobQuestion[i].question_id %>" method="post">
                <li name="question_id_<%= jobQuestion[i].question_id %>">
                  <h5><%= jobQuestion[i].question_detail %> <button>x</button></h5> 
                </li>
              </form>
            <% } %> 
          <% } else { %> 
            <h6>NO SELECTED EXAMS!</h6>
            <h6>SELECT IN THE EXAM TAB ON THE SIDEBAR</h6>
          <% } %> 
        </ul>
      </div>
      <button form="jobForm" class="px-5 py-3" style="background-color: #4d4d4d; color: white; border: none;">SAVE</button>
    </div>
  </div>
</div>

<%- include('./filterFunctions/jrDepartmentFilter.ejs') %>
<%- include('./layout/footer.ejs') %>
