<%- include('./layout/header.ejs') %>
<div class="container-fluid pe-0 ps-0" style="padding-top: 65px;">
<div class="row min-vh-100">
  <div class="col-sm-2 pe-0">
    <div class="p-3 mb-1" style="background-color: #e6e6e6;">
      <a href="/examcreation" style="text-decoration:none; color: black;">
        + NEW QUESTION
      </a>
    </div>
    <div class="p-3 mb-1" style="background-color: #e6e6e6;">
      <a
      <% if (personality != 0) { %>  
        href="/examcreation/Personality/<%= personality[0].question_id %>"
      <% } else { %>
        href="/examcreation/Personality"
      <% } %>
      style="text-decoration: none; color: black;"
      >
      Personality
      <% let personalityCount =  0 %>
        <% for (let j=0; j < personality.length; j++) { %>
          <% personalityCount++; %>
        <% } %>
        (<%= personalityCount%>)
      </a>
    </div>
    <% for (let i=0; i < skill.length; i++) { %>
      <div class="p-2 mb-1" style="background-color: #e6e6e6;">
      <a
      <%  for (let j=0; j < qSkill.length; j++) { %>
        <% if (skill[i].skill_id == qSkill[j].skill_id) { %>
          href="/examcreation/<%= skill[i].skill_name %>/<%= qSkill[j].question_id %>"
        <% } %>
      <% } %>
        class="w3-bar-item sidebar"
        style="text-decoration: none; color: black; background-color: #e6e6e6;"
      >
      <%= skill[i].skill_name %>
        <% let categoryCount =  0 %>
        <% for (let j=0; j < qSkill.length; j++) { %>
          <% if (skill[i].skill_id == qSkill[j].skill_id && qSkill[j].question_id != null) { %>
            <% categoryCount++; %>
          <% } %>
        <% } %>
        (<%= categoryCount%>)
        
      </a>
    </div>
      <% } %>
  </div>
  <% if (allCategoryQuestion != 0){ %>
  <div class="col-sm-4 ps-0 pe-0" style="background-color: #666666;">
    <% for (let i=0; i < allCategoryQuestion.length; i++) { %>
      <a
      href="/examcreation/<%= allCategoryQuestion[i].question_category %>/<%= allCategoryQuestion[i].question_id %>"
      style="color: white; text-decoration: none;"
      >
      <% for (let j=0; j < question.length; j++){%>
        <div 
          class="p-3 selected-color mb-1" 
          <% if (allCategoryQuestion[i].question_id == questionId) { %>
            style="background-color: #F2F2F2; color: black;"
          <% } %>
        >
          <div class="d-flex justify-content-between">
            <p class="mb-0">
              <%= allCategoryQuestion[i].question_category %>
              <% if(question[j].question_type =='0' ){ %>
               | LEVEL <%=
              allCategoryQuestion[i].question_level %> 
              <% } %>
            </p>
      <% } %>
            <div>
              <form
              method="GET"
              action="/deleteExam/<%= allCategoryQuestion[i].question_category %>/<%= allCategoryQuestion[i].question_id %>"
              >
                <button
                  type="submit" 
                  <% if (allCategoryQuestion[i].question_id == questionId) { %>
                    style="color: black; border: none;"
                  <% } else { %>
                    style="background: transparent; border: none; color: white;"
                  <% } %> 
                ><i class="fa-solid fa-xmark x-btn"></i></button>
              </form>
            </div>
          </div>
          <p>
            <%= allCategoryQuestion[i].question_detail %>
          </p>
        </div>
      </a>
      <% } %>
  </div>
  <div class="col-sm-6 ps-0" style="background-color: #F2F2F2;">
    <form action="/examcreation/<%= questionCategory %>/<%= questionId %>" method="POST">
      <div class="container-fluid px-4 py-3">
        <div class="row">
        <div 
          class="form-floating col
          <% if(question[0].question_type =='1' ){ %>  
            d-none 
          <% } %>"
        > 
          <input 
          list="categoryList"
          placeholder="Select Category" 
          name="questionCategory" 
          id="inputCategory"
          required
          <% for (let j=0; j < question.length; j++) { %>
            class="form-select <% if(question[j].question_type =='1' ){ %>  d-none <% }%>"
          <% } %> 
          onblur="CheckListed(this.value)"
          value="<%=question[0].question_category %>"
          style="height: 58px; border: none;"
          />
          <datalist id="categoryList">
            <% for (let i=0; i < skill.length; i++) { %>
              <option value="<%=skill[i].skill_name %>">  
                <%=skill[i].skill_name %>
              </option>
            <% } %> 
            <option hidden disabled value="Personality">Personality</option>
          </datalist>
          <span id="output"></span>
          <label for="questionlevel">Category</label>
        </div>
      
      <% for (let i=0; i < question.length; i++){%>
      <div 
        class="form-floating 
        <% if(question[i].question_type =='1' ){ %>  
          d-none 
        <% } %> 
        col"
      >
        <select
          name="questionlevel"
          class="form-select"
          id="floatingSelectGrid"
          aria-label="Floating label select example"
          style="border: none;"
        >
        <% }  %>
          <% for (let i=0; i < question.length; i++){%>
          <option <% if(question[i].question_level =='1' ){ %>  selected <% }%> value="1">1</option>
          <option <% if(question[i].question_level =='2' ){ %>  selected <% }%>value="2">2</option>
          <option <% if(question[i].question_level =='3' ){ %>  selected <% }%>value="3">3</option>
          <option <% if(question[i].question_level =='4' ){ %>  selected <% }%>value="4">4</option>
          <option <% if(question[i].question_level =='5' ){ %>  selected <% }%>value="5">5</option>
          <option hidden <% if(question[i].question_level =='0' ){ %>  selected <% }%>value="0">5</option>
          <%} %>
        </select>
        <label for="questionlevel">Level</label>
      </div>
      <% for (let i=0; i < question.length; i++){%>
      <div 
        class="form-floating col
        <% if(question[i].question_type == '1' ){ %>  
          d-none 
        <% } %>"
      >
        <input
          type="text"
          name="questiontimer"
          class="form-control <% if(question[i].question_type =='1' ){ %>  d-none <% }%>"
          id="floatPlace"
          placeholder="Timer"
          required
          value="<%= question[0].question_time_limit %>"
          style="border: none;"
        />
        <label for="floatPlace">Timer</label>
      </div>
    </div>
      </div>  

      <div class="container-fluid pb-3">
        <div class="form-floating">
          <input
            type="text"
            name="questiondetail"
            class="form-control"
            id="floatPlace"
            placeholder="Question"
            required
            value="<%=question[0].question_detail %>"
            style="border: none;"
          />
          <label for="floatPlace">Question</label>
        </div>
      </div>

      <div class="container">
        <% for (let i=0; i < question.length; i++){%>
          <div class="mb-2">
            <div class="d-flex">
              <small class="me-auto">CHOICE 1</small>
              <input 
            type="radio" 
            class="<% if(question[i].question_type =='1' ){ %>  
                d-none 
              <% }%>" 
            value="1" 
            name="correctAnswer" 
            <% if(question[i].correct_answer =='1' ){ %>  
              checked 
            <% }  %> 
          />
            </div>
          <div>
            <input
            type="text"
            class="form-control floatPlace"
            placeholder="Question 1"
            name="choice_1"
            required
            value="<%= question[0].choice_1 %>"
          />
          </div>
          </div>
          <% }  %>
          <input
            type="text"
            class="form-control floatPlace 
            <% if(question[i].question_type =='0' ){ %>  
              d-none 
            <% }%>"
            placeholder="Value"
            name="value_1"
            required
            value="<%= question[0].choice_1_value %>"
          />
          <div class="mb-2">
            <div class="d-flex">
              <small class="me-auto">CHOICE 2</small>
              <input 
                type="radio" 
                class="<% if(question[i].question_type =='1' ){ %>  
                    d-none 
                  <% }%>" 
                value="2" 
                name="correctAnswer" 
                <% if(question[i].correct_answer =='2' ){ %>  
                  checked 
                <% }  %> 
              />
            </div>
            <div>
              <input
                type="text"
                class="form-control floatPlace"
                placeholder="Question 1"
                name="choice_2"
                required
                value="<%= question[0].choice_2 %>"
              />
            </div>
          </div>
          <input
            type="text"
            class="form-control floatPlace <% if(question[i].question_type =='0' ){ %>  d-none <% }%>"
            placeholder="Value"
            name="value_2"
            required
            value="<%= question[0].choice_2_value %>"
          />
          <div class="mb-2">
            <div class="d-flex">
              <small class="me-auto">CHOICE 3</small>
              <input 
                type="radio" 
                class="<% if(question[i].question_type =='1' ){ %>  
                  d-none 
                <% }%>" 
                value="3" 
                name="correctAnswer" 
                <% if(question[i].correct_answer =='3' ){ %>  
                  checked 
                <% }  %> 
              />
            </div>
            <div>
              <input
                type="text"
                class="form-control floatPlace"
                placeholder="Question 1"
                name="choice_3"
                required
                value="<%= question[0].choice_3 %>"
              />
            </div>
          </div>
          <input
            type="text"
            class="form-control floatPlace <% if(question[i].question_type =='0' ){ %>  d-none <% }%>"
            placeholder="Value"
            name="value_3"
            required
            value="<%= question[0].choice_3_value %>"
          />

          <div class="mb-2">
            <div class="d-flex">
              <small class="me-auto">CHOICE 4</small>
              <input 
                type="radio" 
                class="<% if(question[i].question_type =='1' ){ %>  
                    d-none 
                  <% }%>" 
                value="4" 
                name="correctAnswer" 
                <% if(question[i].correct_answer =='4' ){ %>  
                  checked 
                <% }  %> 
            />
            </div>
            <div>
              <input
                type="text"
                class="form-control floatPlace"
                placeholder="Question 1"
                name="choice_4"
                required
                value="<%= question[0].choice_4 %>"
              />
            </div>
          </div>
          <input
            type="text"
            class="form-control floatPlace <% if(question[i].question_type =='0' ){ %>  d-none <% }%>"
            placeholder="Value"
            name="value_4"
            required
            value="<%= question[0].choice_4_value %>"
          />
        <%} %>
      </div>
      <div class="container">
        <button type="" class="px-5 py-3" style="background-color: #4d4d4d; color: white; border: none;">SAVE</button>
      </div>
    </form>
  </div>
  <%} else { %>
    <div class="col-sm-10">
      <div class="h-50 d-flex flex-column align-items-center justify-content-center">
      <h5>NO ITEM IN THIS CATEGORY</h5>
      <a href="/examcreation">
      <h5>CREATE A NEW ONE</h5>
    </a>
      </div>
    </div>
  <% } %>
</div>
</div>
<script>
  function CheckListed( txtSearch  ) {
   var objList = document.getElementById("categoryList")  ;
   for (var i = 0; i < objList.options.length; i++) {
    if ( objList.options[i].value.trim().toUpperCase() == txtSearch.trim().toUpperCase() ) {
       return true }
    }
      alert( 'No match found Select again') ;
      const selectCategoryId = document.querySelector("#inputCategory");
      selectCategoryId.value="";
      return false ;
  }
</script>
<%- include('./layout/footer.ejs') %>