<%- include('./layout/header.ejs') %>
<div class="row min-vh-100">
  <div class="col-sm-2">
    <div class="d-flex flex-column min-vh-100">
      <div>
        <a href="/job-requirement/<%= jobId %>">JOB REQUIREMENT</a>
      </div>
      <div>
        <a href="/job-details/<%= jobId %>"  >JOB DETAILS</a>
      </div>
      <div>
        <a href="/exam/<%= jobId %>">EXAM</a>
      </div>
      <div class="mt-auto">
        <a href="/">BACK TO JOB PAGE</a>
      </div>
    </div>
  </div>

  <div class="col-sm-10">
    <h3>NEW JOB OPENING</h3>
    <form method="post" action="/job-requirement/<%= jobId %>" >
      <div>
        <label for="jobId">JOB ID</label> <br>
        <input type="number" name="jobId" value="<%= unique %>" readonly>
      </div>
      <br>
      <div>
        <label for="jobtitle">JOB TITLE</label><br />
        <% if( jobPosition.length == 0) { %>
          <p>Cannot add Job Title</p>
          <p>Please Add Job Position in System Variables!</p>
        <% } else { %>
          <select name="jobTitle" id="">
          <% for( let i = 0; i < jobPosition.length; i++) { %>
            <% if(jobPosition[i].position_name == job[0].job_title) { %>
              <option value="<%= jobPosition[i].position_name %>" selected><%= jobPosition[i].position_name %></option>
            <% } else { %>
              <option value="<%= jobPosition[i].position_name %>"><%= jobPosition[i].position_name %></option>
            <% } %> 
          <% } %> 
        </select>
        <% } %>
      </div>
      <br>
      <div>
        <label for="department">DEPARTMENT</label>
        <select name="department" id="deparment" >
          <% for(let i = 0; i < dept.length; i++) { %>
            <% if (dept[i].dept_name == job[0].job_dept) { %>
              <option value="<%= dept[i].dept_name %>" selected><%= dept[i].dept_name %></option>
            <% } else {%>
            <option value="<%= dept[i].dept_name %>"><%= dept[i].dept_name %></option>
              <% } %>
          <% } %>
        </select>
      </div>
      <br>
      <div>
        <label for="salary range">SALARY RANGE</label>
        <input type="number" min="1" name="salaryRange" id="salary range" value="<%= job[0].max_salary %>">
      </div>
      <br>
      <div>
        <label for="career level">CAREER LEVEL</label>
        <select name="careerLevel" id="career level" >
          <option value="Level 1">Level 1</option>
          <option value="Level 2">Level 2</option>
          <option value="Level 3">Level 3</option>
          <option value="Level 4">Level 4</option>
        </select>
      </div>
      <br>
      <div>
        <label for="work type">WORK TYPE</label>
        <select name="workType" id="work type" >
          <% for(let i = 0; i < jobType.length; i++) { %>
            <% if (jobType[i].job_type_name == job[0].job_type) { %>
              <option value="<%= jobType[i].job_type_name %>" selected><%= jobType[i].job_type_name %></option>
              <% } else { %>
                <option value="<%= jobType[i].job_type_name %>"><%= jobType[i].job_type_name %></option>
                <% } %>
            <% } %>
        </select>
      </div>
      <br>
      <div>
        <label for="jobdesc">JOB DESCRIPTION</label><br />
        <input type="text" id="jobdesc" name="jobDesc" value="<%= job[0].job_description %>" required/>
      </div>
      <br>
    <h4>MINIMUM QUALIFICATIONS</h4>
    
      <div>
        <label for="years">YEARS OF EXPERIENCE</label><br />
        <input type="number" min="0" id="years" name="yearsOfExp" value="<%= job[0].min_years_experience %>" required/><br />
      </div>
      <br>
      <div>
        <label for="exam score">EXAM SCORE</label><br />
        <input type="number" min="0" id="exam score" name="examScore"value="<%= job[0].exam_score %>" required/>
      </div>
      <br>
      <div>
        <label for="hr">HR ASSESSMENT</label>
        <select name="hrAssessment" id="hr" >
          <% for (let i = 0; i < hrRemarks.length; i++) { %>
            <% if (hrRemarks[i].remark_name == job[0].hr_rating) { %>
            <option value="<%= hrRemarks[i].remark_name %>" selected><%= hrRemarks[i].remark_name %></option>
            <% } else { %>
              <option value="<%= hrRemarks[i].remark_name %>"><%= hrRemarks[i].remark_name %></option>
            <% } %>
          <% } %>
        </select>
      </div>
      <br>
    
      <h5>PROGRAMMING LANGUAGES, IDE AND FRAMEWORKS</h5>
      <% for(let i=0; i < adminSkill.length; i++) { %>
        <div>
        <input
          type="checkbox"
          id="<%= adminSkill[i].skill_name %>"
          name="skill_id"
          value="<%= adminSkill[i].skill_id %>"
          onclick="selectDefaultRadio('<%= adminSkill[i].skill_name %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id) {%> 
              checked
            <% } %>
          <% } %>
        />
        <label for="<%= adminSkill[i].skill_name %>">
          <%= adminSkill[i].skill_name %></label
        >
        <input 
          type="radio" 
          name="skill_level_<%= i + 1%>" 
          value="1"
          id="<%= adminSkill[i].skill_name %>-radio-1"
          class="<%= adminSkill[i].skill_name %>-radio"
          onclick="autoCheckBox('<%= adminSkill[i].skill_name %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '1') {%> 
              checked
            <% } %>
          <% } %>
          />
        <label for="1">1</label>

        <input 
          type="radio" 
          id="2" 
          name="skill_level_<%= i + 1%>" 
          value="2"
          class="<%= adminSkill[i].skill_name %>-radio"
          onclick="autoCheckBox('<%= adminSkill[i].skill_name %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '2') {%> 
              checked
            <% } %>
          <% } %>
        />
        <label for="2">2</label>

        <input 
          type="radio" 
          id="3" 
          name="skill_level_<%= i + 1%>" 
          value="3"
          class="<%= adminSkill[i].skill_name %>-radio"
          onclick="autoCheckBox('<%= adminSkill[i].skill_name %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '3') {%> 
              checked
            <% } %>
          <% } %>
        />
        <label for="3">3</label>

        <input 
          type="radio" 
          id="4" 
          name="skill_level_<%= i + 1%>" 
          value="4"
          class="<%= adminSkill[i].skill_name %>-radio"
          onclick="autoCheckBox('<%= adminSkill[i].skill_name %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '4') {%> 
              checked
            <% } %>
          <% } %> 
        />
        <label for="4">4</label>

        <input 
          type="radio" 
          id="5" 
          name="skill_level_<%= i + 1%>" 
          value="5"
          class="<%= adminSkill[i].skill_name %>-radio"
          onclick="autoCheckBox('<%= adminSkill[i].skill_name %>')"
          <% for(let j=0; j < jobSkill.length; j++) { %>
            <% if(adminSkill[i].skill_id == jobSkill[j].skill_id && jobSkill[j].skill_level == '5') {%> 
              checked
            <% } %>
          <% } %>
        />
        <label for="5">5</label>
        </div>
      <% } %> 
      <button>SAVE</button>
    </form>
      <div>
        <h4>EXAM</h4>
        <ul>
          <% if(jobQuestion != 0) { %>
            <% for (let i = 0; i < jobQuestion.length; i++) { %>
              <form action="/delete/job/<%= jobId %>/<%= jobQuestion[i].question_id %>" method="post">
              <li name="question_id_<%= jobQuestion[i].question_id %>">
                <h5><%= jobQuestion[i].question_detail %></h5> 
              </li>
              <li>Job_id <%= jobQuestion[i].job_id %></li>
              <li>Question Id <%= jobQuestion[i].question_id %></li>
              
                <button>x</button> 
              </form>
            <% } %> 
          <% } else { %> 
            <h6>NO SELECTED EXAMS!</h6>
            <h6>SELECT IN THE EXAM TAB</h6>
          <% } %> 
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  function selectDefaultRadio(skill_name){
    const skillCheckBox = document.querySelector(`#${skill_name}`);
    const skillRadio1 = document.querySelector(`#${skill_name}-radio-1`);
    const skillRadios = document.querySelectorAll(`.${skill_name}-radio`);

    if(skillCheckBox.checked == true){
      skillRadio1.checked = true;
    } else {
      skillRadios.forEach(radio => {
        radio.checked = false;
      })
    }
  }

  function autoCheckBox(skill_name){
    const skillCheckBox = document.querySelector(`#${skill_name}`);
    const skillRadios = document.querySelectorAll(`.${skill_name}-radio`);

    skillRadios.forEach(radio =>{
      if(radio.checked == true){
        skillCheckBox.checked = true;
      }
    })
  }
</script>
<%- include('./layout/footer.ejs') %>
