<%- include('./layout/header.ejs') %>
  <div class="">
    <div class="row min-vh-100">
      <div class="col-sm-2" style="background-color: #e6e6e6;">
        <div class="d-flex flex-column min-vh-100">
          <div>
            <a href="/job-requirement/<%= jobId %>">JOB REQUIREMENT</a>
          </div>
          <div>
            <a href="/job-details/<%= jobId %>">JOB DETAILS</a>
          </div>
          <div>
            <a href="/exam/<%= jobId %>">EXAM</a>
          </div>
          <div class="mt-auto">
            <a href="/">BACK TO JOBS PAGE</a>
          </div>
        </div>
      </div>
      <div class="col-sm-10" style="background-color: #f2f2f2;">
        <h5>EXAMINATION ITEMS</h5>
        <% if(adminJobSkill != 0) { %>
        <div class="d-flex button-container">
          <button onclick="showAllFunction()" class="active">ALL</button>
          <% for(let i=0; i < adminSkill.length; i++) { %>
            <% for(let j=0; j < adminJobSkill.length; j++) { %>
              <% if(adminSkill[i].skill_id == adminJobSkill[j].skill_id) {%> 
                <button onclick="toggleShowHide('<%= adminSkill[i].skill_name %>')">
                  <%= adminSkill[i].skill_name %>
                </button>
              <% } %>
            <% } %>
          <% } %>
        </div>
        
        <div class="container">
          <div class="row border-bottom border-secondary">
            <div class="col-8">
              <input id="questionCheckbox" type="checkbox" onclick="toggleCheck(this)" />
              <label for="questionCheckbox">QUESTION</label>
            </div>
            <div class="col text-center">TOPIC</div>
            <div class="col text-center">LEVEL</div>
          </div>
          <div>
            <form action="/exam/<%= jobId %>" method="post" class="job-exam-form">
              <% for(let i=0; i < question.length; i++) { %>
                <% for(let j = 0; j < adminJobSkill.length; j++) { %>
                  <% if(question[i].question_category == adminJobSkill[j].skill_name) {%> 
                    <% let skill_name = question[i].question_category.replace(/\s/g, ''); %> 
                    <div class="row all-btn <%= skill_name %>-btn skill">
                      <div class="col-8">
                        <input 
                          type="checkbox" 
                          name="question_id" 
                          value="<%= question[i].question_id %>"
                          <% for(let k = 0; k < jobQuestion.length; k++) { %>
                            <% if(question[i].question_id == jobQuestion[k].question_id){ %> checked
                          <% } %>
                            <% } %> 
                        />
                        <label for="">
                          <%= question[i].question_detail %>
                        </label>
                      </div>
                      <div class="col text-center">
                        <%= question[i].question_category %>
                      </div>
                      <div class="col text-center">
                        <%= question[i].question_level %>
                      </div>
                    </div>
                  <% } %>
                <% } %>
              <% } %>
            </form>
          </div>
        </div>
      </div>
      <% } else { %>
        <div class="h-50 d-flex flex-column align-items-center justify-content-center">
          <h5>NO SKILLS SELECTED!</h5>
          <h5>YOU CAN ADD IN THE JOB REQUIREMENT TAB</h5>
        </div>
      <% } %>
    </div>
  </div>
  <%- include('./filterFunctions/examFilter.ejs') %>
<%- include('./layout/footer.ejs') %>
