<%- include('./layout/header.ejs') %>
<div class="">
  <div class="row min-vh-100">
    <div class="col-sm-2">
      <div class="d-flex flex-column min-vh-100">
        <div>
          <a href="/job-requirement/<%= jobId %>">JOB REQUIREMENT</a>
        </div>
        <div>
          <a href="/job-details/<%= jobId %>">JOB DETAILS</a>
        </div>
        <div>
          <a href="/exam/<%= jobId %>">EXAM</a>
        </div>
        <div class="mt-auto">
          <a href="/">BACK TO JOB PAGE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <h1>this is exam</h1>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs') %>
