<%- include('./layout/header.ejs') %>
  <div class="container-fluid">
    <div class="row" style="padding-top: 65px;">
      <div class="col-sm-2 px-0" style="background-color: #f2f2f2;">
        <div class="d-flex flex-column min-vh-100">
          <div class="mb-1 px-5 py-3" style="background-color: #e6e6e6;">
            <a href="/job-requirement/<%= jobId %>" style="text-decoration: none; color: black;">JOB REQUIREMENT</a>
          </div>
          <div class="mb-1 px-5 py-3" style="background-color: #e6e6e6;">
            <a href="/job-details/<%= jobId %>" style="text-decoration: none; color: black;">JOB DETAILS</a>
          </div>
          <div class="mb-1 px-5 py-3" style="background-color: #f2f2f2;">
            <a href="/exam/<%= jobId %>" style="text-decoration: none; color: black; display: inline-flex;">
              EXAM
                <% let exam =  0 %>
                <p style="text-decoration: none;">
                  <% for (let j=0; j < jobQuestion.length; j++) { %>
                    <% if(jobId == jobQuestion[j].job_id) { %>
                        <% exam++; %>
                    <% } %>
                  <% } %>
                  <p class="ps-1" id="exam-count"> ( <%= exam; %> SELECTED ) </p>
                </p>
            </a>
          </div>
          <div class="p-5 mb-1" style="background-color: #e6e6e6; height: 88vh;">
        
          </div>
          <div class="mt-auto mb-1 px-5 py-3" style="background-color: #e6e6e6;">
            <a href="/" style="text-decoration: none; color: black;">BACK TO JOBS PAGE</a>
          </div>
        </div>
      </div>
      <div class="col-sm-10 p-4" style="background-color: #f2f2f2;">
        <h4>EXAMINATION ITEMS</h4>
        <% if(adminJobSkill != 0) { %>
        <div class="container-fluid">
          <div class="d-flex button-container mb-4" style="font-size: 1.2em;">
            <button
              onclick="showAllFunction()" 
              class="border-0 rounded active px-3"
              style="font-weight: 500;"
            >
              ALL
            </button>
            <% for(let i=0; i < adminJobSkill.length; i++) { %>
              <button 
                class="border-0 rounded bg-transparent ms-1 px-3 py-1"
                onclick="toggleShowHide('skill-<%= adminJobSkill[i].skill_id %>')"
                style="font-weight: 500;"
              >
                <%= adminJobSkill[i].skill_name %>
              </button>
            <% } %>
          </div>
          <div class="row border-bottom border-secondary mb-3 py-2">
            <div class="col-8 ms-4">
              <input id="questionCheckbox" type="checkbox" onclick="toggleCheck(this)" />
              <label class="ms-3" for="questionCheckbox" style="font-size: 0.8em;">QUESTION</label>
            </div>
            <div class="col text-center" style="font-size: 0.8em;">TOPIC</div>
            <div class="col text-center" style="font-size: 0.8em;">LEVEL</div>
          </div>
          <div>
            <form action="/exam/<%= jobId %>" method="post" class="job-exam-form">
              <% for(let i=0; i < question.length; i++) { %>
                <% for(let j = 0; j < adminJobSkill.length; j++) { %>
                  <% if(question[i].question_category == adminJobSkill[j].skill_name) {%> 
                    <div class="row all-btn skill-<%= adminJobSkill[j].skill_id %>-btn skill mb-1 py-3 rounded"
                    style="font-weight: 500;"  
                    >
                      <div class="col-8 ms-4">
                        <input
                          id="question-<%= question[i].question_id %>" 
                          type="checkbox" 
                          name="question_id" 
                          value="<%= question[i].question_id %>"
                          <% for(let k = 0; k < jobQuestion.length; k++) { %>
                            <% if(question[i].question_id == jobQuestion[k].question_id){ %> checked
                          <% } %>
                            <% } %> 
                        />
                        <label class="ms-3" for="question-<%= question[i].question_id %>" style="font-size: 1.2em;">
                          <%= question[i].question_detail %>
                        </label>
                      </div>
                      <div class="col text-center" style="font-size: 1.2em;">
                        <%= question[i].question_category %>
                      </div>
                      <div class="col text-center" style="font-size: 1.2em;">
                        <%= question[i].question_level %>
                      </div>
                    </div>
                  <% } %>
                <% } %>
              <% } %>
            </form>
          </div>
        </div>
      </div>
      <% } else { %>
        <div class="h-50 d-flex flex-column align-items-center justify-content-center">
          <h5>NO SKILLS SELECTED!</h5>
          <h5>YOU CAN ADD IN THE JOB REQUIREMENT TAB</h5>
        </div>
      <% } %>
    </div>
  </div>
  <%- include('./filterFunctions/examFilter.ejs') %>
<%- include('./layout/footer.ejs') %>
