<%- include('./layout/header.ejs') %>
<div class="row min-vh-100">
  <div class="col-sm-2">
    <div class="d-flex flex-column">
      <a href="/examcreation">+ NEW QUESTION</a>
      <% for (let i=0; i < skill.length; i++) { %>
      <a
      <%  for (let j=0; j < qSkill.length; j++) { %>
        <% if (skill[i].skill_id == qSkill[j].skill_id) { %>
          href="/examcreation/<%= skill[i].skill_name %>/<%= qSkill[j].question_id %>"
        <% } %>
      <% } %>
        class="w3-bar-item sidebar"
      >
        <%= skill[i].skill_name %>
      </a>
      <% } %> 
    </div>
  </div>
  <div class="col-sm-10" >
    <form action="/examcreation" method="POST">
      <div>
        <div class="form-floating">
          
          <div>
          <input type="radio" value="0" name="questiontype" required id="technical-btn" 
          onclick="technicalShowHide()" />
          <label for="technical">Technical</label><br>
          </div>
          <div>
          <input type="radio" value="1" name="questiontype" required id="personality-btn"
          onclick="personalityShowHide()" checked/>
          <label for="personality">Personality</label><br>
          </div>
        </div>
      </div>
      <div>
      <input type="hidden" value="<%= questionId %>" readonly name="question_id">
    </div>
      <div>
        <div class="form-floating">
          <select
            name="questionCategory"
            class="form-select"
            id="floatingSelectGrid"
            aria-label="Floating label select example"
          >
            <% for (let i=0; i < skill.length; i++) { %>
              <option value="<%=skill[i].skill_name %>">
                <%=skill[i].skill_name %>
              </option>
            <% } %>
          </select>
          <label for="questioncategory">Category</label>
        </div>
      </div>

      <div class="form-floating">
        <select
          name="questionlevel"
          class="form-select"
          id="floatingSelectGrid"
          aria-label="Floating label select example"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label for="questionlevel">Level</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          name="questiontimer"
          class="form-control"
          id="floatPlace"
          placeholder="Timer"
          required
        />
        <label for="floatPlace">Timer</label>
      </div>
      
      <div class="form-floating">
        <input
          type="text"
          name="questiondetail"
          class="form-control"
          id="floatPlace"
          placeholder="Question"
          required
        />
        <label for="floatPlace">Question</label>
      </div>

      <div class="form-floating">
        <div>
          <input type="radio" value="1" name="correctAnswer" required/>
          <input
            type="text"
            class="form-control"
            id="floatPlace"
            placeholder="Choice 1"
            name="choice_1"
            required
          />
          <input
            type="text"
            class="form-control choice-value-input d-none"
            id="floatPlace"
            placeholder="Value"
            name="value_1"
            value="0"
            required
          />

          <input type="radio" value="2" name="correctAnswer" required/>
          <input
            type="text"
            class="form-control"
            id="floatPlace"
            placeholder="Choice 2"
            name="choice_2"
            required
          />
          <input
          type="text"
          class="form-control choice-value-input d-none"
          id="floatPlace"
          placeholder="Value"
          name="value_2"
          value="0"
          required
        />

          <input type="radio" value="3" name="correctAnswer" required/>
          <input
            type="text"
            class="form-control"
            id="floatPlace"
            placeholder="Choice 3"
            name="choice_3"
            required
          />
          <input
          type="text"
          class="form-control choice-value-input d-none"
          id="floatPlace"
          placeholder="Value"
          name="value_3"
          value="0"
          required
        />

          <input type="radio" value="4" name="correctAnswer" required/>
          <input
            type="text"
            class="form-control"
            id="floatPlace"
            placeholder="Choice 4"
            name="choice_4"
            required
          />
          <input
          type="text"
          class="form-control choice-value-input d-none"
          id="floatPlace"
          placeholder="Value"
          name="value_4"
          value="0"
          required
        />
        </div>
      </div>
      <button type="">Save</button>
    </form>
  </div>
</div>
<%- include('./filterFunctions/examCreationFilter.ejs') %>
<%- include('./layout/footer.ejs') %>