<%- include('./layout/header.ejs')  %> 
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item"></h3>
    <a href="#" class="w3-bar-item w3-button">C#</a>
    <a href="#" class="w3-bar-item w3-button">Javascript</a>
    <a href="#" class="w3-bar-item w3-button">CSS</a>
    <a href="#" class="w3-bar-item w3-button">HTML</a>
    <a href="#" class="w3-bar-item w3-button">PHP</a>
    <a href="#" class="w3-bar-item w3-button">R</a>
    <a href="#" class="w3-bar-item w3-button">Kotlin</a>
    <a href="#" class="w3-bar-item w3-button">Cocoa</a>
    <a href="#" class="w3-bar-item w3-button">Ruby on Rails</a>
    <a href="#" class="w3-bar-item w3-button">Django</a>
    <a href="#" class="w3-bar-item w3-button">Angular</a>
    <a href="#" class="w3-bar-item w3-button">.NET</a>  
    <a href="#" class="w3-bar-item w3-button">Meteor</a>
    <a href="#" class="w3-bar-item w3-button">Laravel</a>
    <a href="#" class="w3-bar-item w3-button">Express</a>  
  </div>
  <div style="margin-left:25%">
    <div class="select" style="width:200px;">
      <select>
        <option value="1">C#</option>
        <option value="2">Javascript</option>
        <option value="3">CSS</option>
        <option value="4">HTML</option>
        <option value="5">PHP</option>
        <option value="1">R</option>
        <option value="2">Kotlin</option>
        <option value="3">Cocoa</option>
        <option value="4">Ruby on Rails</option>
        <option value="5">Django</option>
        <option value="4">Angular</option>
        <option value="5">.NET</option>
        <option value="4">Meteor</option>
        <option value="5">Laravel</option>
        <option value="5">Express</option>
      </select>
  
  <div class="level" style="width:200px;">
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div class="timer" style="width:200px;">
      <select>
        <option value="1">10</option>
        <option value="2">20</option>
        <option value="3">30</option>
        <option value="4">40</option>
        <option value="5">50</option>
        <option value="6">60</option>
      </select>
  </div>
  <input type="text" placeholder="Question">
  <div class="container mt-3">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"> 
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Question 1">
      </div>
    </form>
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"> 
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Question 2">
      </div>
    </form>
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"> 
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Question 3">
      </div>
    </form>
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"> 
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Question 4">
      </div>
    </form>
    <button type="button" onclick="alert('Question Saved')">Save</button>
    <button type="button" onclick="alert('Question Cancelled')">Cancel</button>

    
<% for (let i = 0; i < question.length; i++) { %> 
  <h1>
    <%= question[i].question_category %> | LEVEL <%= question[i].question_level %> <%= question[i].question_detail %> 
  </h1>
<% } %> 

    <%- include('./layout/footer.ejs')  %>  