<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<%- include('./layout/header.ejs') %>
<div class="container-fluid">
<div class="row" style="padding-top: 65px;">
  <div class="col-sm-2 px-0">
    <div class="p-3 mb-1" style="background-color: #e6e6e6;">
      <a href="/examcreation" style="text-decoration: none; color: black;">+ NEW QUESTION</a>
    </div>
    <div class="p-3 mb-1" style="background-color: #e6e6e6;">
      <a
      <% if (personality != 0) { %>  
        href="/examcreation/Personality/<%= personality[0].question_id %>"
      <% } else { %>
        href="/examcreation/Personality"
      <% } %>
      style="text-decoration: none; color: black;"
      >
      Personality
      <% let personalityCount =  0 %>
        <% for (let j=0; j < personality.length; j++) { %>
          <% personalityCount++; %>
        <% } %>
        (<%= personalityCount%>)
    </a>
    </div>
    <% for (let i=0; i < skill.length; i++) { %>
      <div class="p-2 mb-1" style="background-color: #e6e6e6;">
      <a
      <%  for (let j=0; j < qSkill.length; j++) { %>
        <% if (skill[i].skill_id == qSkill[j].skill_id) { %>
          href="/examcreation/<%= skill[i].skill_name %>/<%= qSkill[j].question_id %>"
        <% } %>

      <% } %>
        class="w3-bar-item sidebar"
        style="text-decoration:none; color: black;"
      >
        <%= skill[i].skill_name %>
        <% let categoryCount =  0 %>
        <% for (let j=0; j < qSkill.length; j++) { %>
          <% if (skill[i].skill_id == qSkill[j].skill_id && qSkill[j].question_id != null) { %>
            <% categoryCount++; %>
          <% } %>
        <% } %>
        (<%= categoryCount%>)
      </a>
    </div>
      <% } %> 
  </div>
  <div class="col-sm-10 ps-0 pt-4" style="background-color: #F2F2F2;">
    <form action="/examcreation" method="POST">
      <div class="container-fluid px-4 py-3">
        <div class="form-floating d-flex">
          <div class="me-2 border rounded border-secondary py-2 px-4 selected-tp">
          <input type="radio" 
          value="0" 
          name="questiontype" 
          id="technical-btn" 
          onclick="technicalShowHide()" checked
          />
          <label for="technical">Technical</label><br>
          </div>
          <div class="me-2 border rounded border-secondary py-2 px-4 selected-tp">
          <input type="radio" 
          value="1" 
          name="questiontype" 
          id="personality-btn"
          onclick="personalityShowHide()" />
          <label for="personality">Personality</label><br>
          </div>
        </div>
      </div>
       
      
      <div>
        <input type="hidden" value="<%= questionId %>" readonly name="question_id">
      </div>
  <div class="container-fluid px-4 py-3">
    <div class="row">
      <div class="form-floating col">
        <input 
        list="categoryList"
        placeholder="Select Category" 
        name="questionCategory" 
        id="inputCategory"
        required
        onblur="CheckListed(this.value)"
        style="border: none; height: 58px;"
        class="w-100 form-control"
        >
        <datalist id="categoryList">
          <% for (let i=0; i < skill.length; i++) { %>
            <option value="<%=skill[i].skill_name %>">  
              <%=skill[i].skill_name %>
            </option>
          <% } %>
          <option hidden disabled value="Personality">Personality</option>
        </datalist>
        <span id="output"></span>
        <label for="questionlevel">Category</label>
      </div>
      <div class="form-floating col technical-input">
        <select
          name="questionlevel"
          class="form-select"
          id="level"
          aria-label="Floating label select example"
          required
          style="border: none;"
        > 
        <option disabled hidden selected value="">Select a level</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="0" class="d-none" >0</option>
        </select>
        <label for="questionlevel">Level</label>
        
      </div>
      <div class="form-floating col technical-input">
        <input
          type="text"
          name="questiontimer"
          class="form-control"
          id="time"
          placeholder="Timer"
          value=""
          required
          style="border: none;"
        />
        <label for="floatPlace">Timer</label>
      </div>
    </div>
  </div>
    <div class="container-fluid pb-3">
      <div class="form-floating">
        <input
          type="text"
          name="questiondetail"
          class="form-control"
          id="floatPlace"
          placeholder="Question"
          required
          style="border: none; display: block;"
        />
        <label for="floatPlace">Question</label>
      </div>
    </div>

      <div class="container-fluid">
        <div class="mb-2">
          <div class="d-flex">
            <small class="me-auto">CHOICE 1</small>
            <input type="radio" value="1" name="correctAnswer" id="radioForCorrect"required/>
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              id="floatPlace"
              placeholder="Choice 1"
              name="choice_1"
              required
              style="border: none;"
            />
            <input
            type="text"
            class="form-control choice-value-input d-none"
            id="floatPlace"
            placeholder="Value"
            name="value_1"
            value="0"
            required
            style="border: none;"
          />
          </div>
        </div>
        <div class="mb-2">
          <div class="d-flex">
            <small class="me-auto">CHOICE 2</small>
            <input type="radio" value="2" name="correctAnswer" id="radioForCorrect" required/>
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              id="floatPlace"
              placeholder="Choice 2"
              name="choice_2"
              required
              style="border: none;"
            />
            <input
              type="text"
              class="form-control choice-value-input d-none"
              id="floatPlace"
              placeholder="Value"
              name="value_2"
              value="0"
              required
              style="border: none;"
          />
          </div>
        </div>
        <div class="mb-2">
          <div class="d-flex">
            <small class="me-auto">CHOICE 3</small>
            <input type="radio" value="3" name="correctAnswer" id="radioForCorrect" required/>
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              id="floatPlace"
              placeholder="Choice 3"
              name="choice_3"
              required
              style="border: none;"
            />
            <input
              type="text"
              class="form-control choice-value-input d-none"
              id="floatPlace"
              placeholder="Value"
              name="value_3"
              value="0"
              required
              style="border: none;"
            />
          </div>
        </div>
        <div class="mb-2">
          <div class="d-flex">
            <small class="me-auto">CHOICE 4</small>
            <input type="radio" value="4" name="correctAnswer" id="radioForCorrect" required/>
          </div>
          <div>
            <input
              type="text"
              class="form-control"
              id="floatPlace"
              placeholder="Choice 4"
              name="choice_4"
              required
              style="border: none;"
            />
            <input
              type="text"
              class="form-control choice-value-input d-none"
              id="floatPlace"
              placeholder="Value"
              name="value_4"
              value="0"
              required
              style="border: none;"
            />
          </div>
        </div>
      </div>

      <div class="container m-0">
        <button type="" class="px-5 py-3" style="background-color: #4d4d4d; color: white; border: none;">SAVE</button>
      </div>
      </div>
    </form>
  </div>
</div>
<%- include('./filterFunctions/examCreationFilter.ejs') %>
<%- include('./layout/footer.ejs') %>