<%- include('./layout/header.ejs') %>
  <div class="">
    <div class="row min-vh-100">
      <div class="col-sm-2">
        <div class="d-flex flex-column min-vh-100">
          <div>
            <a href="/job-requirement/<%= jobId %>">JOB REQUIREMENT</a>
          </div>
          <div>
            <a href="/job-details/<%= jobId %>">JOB DETAILS</a>
          </div>
          <div>
            <a href="/exam/<%= jobId %>">EXAM</a>
          </div>
          <div class="mt-auto">
            <a href="/">BACK TO JOB PAGE</a>
          </div>
        </div>
      </div>
      <div class="col-sm-10">
        <% if(jobSkill != 0) {%>
        <div class="d-flex">
          <button onclick="showAllFunction()">ALL</button>
          <% for(let i=0; i < adminSkill.length; i++) { %>
            <% for(let j=0; j < adminJobSkill.length; j++) { %>
              <% if(adminSkill[i].skill_id == adminJobSkill[j].skill_id) {%> 
                <button onclick="toggleShowHide('<%= adminSkill[i].skill_name %>')">
                  <%= adminSkill[i].skill_name %>
                </button>
              <% } %>
            <% } %>
            <% } %>
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col-8">
              <input id="questionCheckbox" type="checkbox" onclick="toggleCheck(this)" />
              <label for="questionCheckbox">QUESTION</label>
            </div>
            <div class="col text-center">TOPIC</div>
            <div class="col text-center">LEVEL</div>
          </div>
          <form action="/exam/<%= jobId %>" method="post">
            <% for(let i=0; i < question.length; i++) { %>
              <% for(let j = 0; j < adminJobSkill.length; j++) { %>
                <% if(question[i].question_category == adminJobSkill[j].skill_name) {%> 
                <div class="row all-btn <%= question[i].question_category %>-btn skill">
                  <div class="col-8">
                    <input type="checkbox" name="question_id" value="<%= question[i].question_id %>"
                      <% for(let k = 0; k < jobQuestion.length; k++) { %>
                        <% if(question[i].question_id == jobQuestion[k].question_id){ %> checked
                      <% } %>
                        <% } %> />
                    <label for="">
                      <%= question[i].question_detail %>
                    </label>
                  </div>
                  <div class="col text-center all-btn">
                    <%= question[i].question_category %>
                  </div>
                  <div class="col text-center all-btn">
                    <%= question[i].question_level %>
                  </div>
                </div>
                <% } %>
              <% } %>
            <% } %>
                <button type="submit">SAVE</button>
          </form>
        </div>
      </div>
      <% } else { %>
        <div class="h-50 d-flex flex-column align-items-center justify-content-center">
          <h5>NO SKILLS SELECTED!</h5>
          <h5>YOU CAN ADD IN THE JOB REQUIREMENT TAB</h5>
        </div>
      <% } %>
    </div>
  </div>
  <%- include('./filterFunctions/examFilter.ejs') %>
<%- include('./layout/footer.ejs') %>
