<%- include('./layout/header.ejs') %>
  <div class="container-fluid">
    <div class="row min-vh-100" style="padding-top: 65px;">
      <div class="col-sm-2 px-0" >
        <div class="d-flex flex-column min-vh-100">
          <div class="mb-1 px-5 py-3" style="background-color: #e6e6e6;">
            <a href="/job-requirement/<%= jobId %>" style="text-decoration: none; color: black;">JOB REQUIREMENT</a>
          </div>
          <div class="mb-1 px-5 py-3" style="background-color: #e6e6e6;">
            <a href="/job-details/<%= jobId %>" style="text-decoration: none; color: black;">JOB DETAILS</a>
          </div>
          <div class="mb-1 px-5 py-3" style="background-color: #f2f2f2;">
            <a href="/exam/<%= jobId %>" style="text-decoration: none; color: black; display: inline-flex;">
              EXAM
                <% let exam =  0 %>
                <p style="text-decoration: none;">
                  <% for (let j=0; j < jobQuestion.length; j++) { %>
                    <% if(jobId == jobQuestion[j].job_id) { %>
                        <% exam++; %>
                    <% } %>
                  <% } %>
                  <p class="ps-1"> ( <%= exam; %> SELECTED ) </p>
                </p>
            </a>
          </div>
          <div class="p-5 mb-1" style="background-color: #e6e6e6; height: 88vh;">
        
          </div>
          <div class="mt-auto mb-1 px-5 py-3" style="background-color: #e6e6e6;">
            <a href="/" style="text-decoration: none; color: black;">BACK TO JOBS PAGE</a>
          </div>
        </div>
      </div>
      <div class="col-sm-10" style="background-color: #f2f2f2;">
        <h5>EXAMINATION ITEMS</h5>
        <% if(adminJobSkill != 0) { %>
        <div class="d-flex button-container">
          <button onclick="showAllFunction()" class="active">ALL</button>
          <% for(let i=0; i < adminJobSkill.length; i++) { %>
              <button onclick="toggleShowHide('skill-<%= adminJobSkill[i].skill_id %>')">
                <%= adminJobSkill[i].skill_name %>
              </button>
          <% } %>
        </div>
        
        <div class="container">
          <div class="row border-bottom border-secondary">
            <div class="col-8">
              <input id="questionCheckbox" type="checkbox" onclick="toggleCheck(this)" />
              <label for="questionCheckbox">QUESTION</label>
            </div>
            <div class="col text-center">TOPIC</div>
            <div class="col text-center">LEVEL</div>
          </div>
          <div>
            <form action="/exam/<%= jobId %>" method="post" class="job-exam-form">
              <% for(let i=0; i < question.length; i++) { %>
                <% for(let j = 0; j < adminJobSkill.length; j++) { %>
                  <% if(question[i].question_category == adminJobSkill[j].skill_name) {%> 
                    <div class="row all-btn skill-<%= adminJobSkill[j].skill_id %>-btn skill">
                      <div class="col-8">
                        <input 
                          type="checkbox" 
                          name="question_id" 
                          value="<%= question[i].question_id %>"
                          <% for(let k = 0; k < jobQuestion.length; k++) { %>
                            <% if(question[i].question_id == jobQuestion[k].question_id){ %> checked
                          <% } %>
                            <% } %> 
                        />
                        <label for="">
                          <%= question[i].question_detail %>
                        </label>
                      </div>
                      <div class="col text-center">
                        <%= question[i].question_category %>
                      </div>
                      <div class="col text-center">
                        <%= question[i].question_level %>
                      </div>
                    </div>
                  <% } %>
                <% } %>
              <% } %>
            </form>
          </div>
        </div>
      </div>
      <% } else { %>
        <div class="h-50 d-flex flex-column align-items-center justify-content-center">
          <h5>NO SKILLS SELECTED!</h5>
          <h5>YOU CAN ADD IN THE JOB REQUIREMENT TAB</h5>
        </div>
      <% } %>
    </div>
  </div>
  <%- include('./filterFunctions/examFilter.ejs') %>
<%- include('./layout/footer.ejs') %>
