<%- include('./layout/header.ejs') %>
<div class="">
  <div class="row min-vh-100">
    <div class="col-sm-2">
      <div class="d-flex flex-column min-vh-100">
        <div>
          <a href="/job-requirement/<%= jobId %>">JOB REQUIREMENT</a>
        </div>
        <div>
          <a href="/job-details/<%= jobId %>">JOB DETAILS</a>
        </div>
        <div>
          <a href="/exam/<%= jobId %>">EXAM</a>
        </div>
        <div class="mt-auto">
          <a href="/">BACK TO JOB PAGE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="d-flex">
        <button>ALL</button>
        <% for(let i = 0; i < adminSkill.length; i++) { %>
        <button><%= adminSkill[i].skill_name %></button>
        <% } %>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-8">
            <input id="questionCheckbox" type="checkbox" />
            <label for="questionCheckbox">QUESTION</label>
          </div>
          <div class="col text-center">TOPIC</div>
          <div class="col text-center">LEVEL</div>
        </div>
        <% for(let i = 0; i < question.length; i++) { %>
        <form action="/exam/<%= jobId %>" method="post">
          <div class="row">
            <div class="col-8">
              <input
                id="questionCheckbox"
                type="checkbox"
                name="question_id_<%= i + 1%>"
                value="<%= question[i].question_id %>"
              />
              <label for="questionCheckbox"
                ><%= question[i].question_detail %></label
              >
            </div>
            <div class="col text-center">
              <%= question[i].question_category %>
            </div>
            <div class="col text-center"><%= question[i].question_level %></div>
          </div>
          <% } %>
          <button type="submit">SAVE</button>
        </form>
        <div class="row">
          <div class="col-8"></div>
          <div class="col text-center"></div>
          <div class="col text-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs') %>
