<%- include('./layout/header.ejs')  %> 
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  
  
  <h3 class="sidebar"></h3>
  <% for (let i = 0; i < skill.length; i++) { %> 
    <a href="#" class="w3-bar-item sidebar"><%= skill[i].skill_name %></a> 
    <% } %> 
</div>
 
  <div style="margin-left:25%">
    <div class="select skill" style="width:200px;">
      <% for (let i = 0; i < skill.length; i++) { %> 
      <select>
        <option value="1"><%= skill[i].skill_name %></option>
      <% } %>
  

  <div class="level" style="width:200px;">
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div class="timer" style="width:200px;">
      <select>
        <option value="1">10</option>
        <option value="2">20</option>
        <option value="3">30</option>
        <option value="4">40</option>
        <option value="5">50</option>
        <option value="6">60</option>
      </select>
  </div>
  <input type="text" placeholder="Question">
  <div class="container mt-3">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"> 
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Question 1">
      </div>
    </form>
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"> 
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Question 2">
      </div>
    </form>
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"> 
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Question 3">
      </div>
    </form>
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"> 
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Question 4">
      </div>
    </form>
    <button type="button" onclick="alert('Question Saved')">Save</button>
    <button type="button" onclick="alert('Question Cancelled')">Cancel</button>

    
<% for (let i = 0; i < question.length; i++) { %> 
  <h1>
    <%= question[i].question_category %> | LEVEL <%= question[i].question_level %> <%= question[i].question_detail %> 
  </h1>
<% } %> 

    <%- include('./layout/footer.ejs')  %>  