<%- include('./layout/header.ejs') %>

<div class="container-fluid m-0" style="padding-top: 65px;">
  <div class="row">
    <!-- sidebar for filter-->
    <div class="col-2 px-0">
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <a href="/job-requirement" style="text-decoration: none; color: black;">+ CREATE NEW JOB</a>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <div>
          <input type="checkbox" id="all-checkbox" checked/>
          <label for="all-checkbox">
            ALL
          </label>
        </div>
        <div>
          <!-- department filter -->
          <% for(let i=0; i < admin_department.length; i++) { %>
            <div>
              <input type="checkbox" name="job-dept" value="dept-<%= admin_department[i].dept_id %>" id="dept-<%= admin_department[i].dept_id %>" />
              <label for="<%= admin_department[i].dept_name %>">
                <%= admin_department[i].dept_name %>
              </label>
            </div>
            <% } %>
        </div>
      </div>
      <div class="p-4 mb-1" style="background-color: #e6e6e6;">
        <!-- status filter -->
      <div>
        <input type="checkbox" name="job-status" value="status-0" id="status-0"
        class="all-status-checkbox active-checkbox"
        >
        <label for="active">ACTIVE</label><br>
        <input type="checkbox" name="job-status" value="status-1" id="status-1"
        class="all-status-checkbox draft-checkbox"
        >
        <label for="draft">DRAFT</label><br>
        <input type="checkbox" name="job-status" value="status-2" id="status-2"
        class="all-status-checkbox archive-checkbox"
        >
        <label for="archive">ARCHIVE</label><br><br>
      </div>
      </div>
    </div>
    
    <div class="col-9 p-4 min-vh-100" style="background-color: #f2f2f2;">
      <!-- Cards -->
      <div class="row jobs-container">
        <% for (let i=0; i < jobOpening.length; i++) { %>
          <!-- adding dynamic class for each job -->
          <div 
            class="card col mb-3 me-2 all-jobs rounded" 
            style="max-width: 1000px;"
            id="job-<%= jobOpening[i].job_id %>"
            <% for (let j=0; j < admin_department.length; j++) { %>
              <% if(jobOpening[i].job_dept == admin_department[j].dept_id) {%>
                data-id="job_<%= jobOpening[i].job_id %>"
                department="dept-<%= admin_department[j].dept_id %>"
                data-category="dept-<%= admin_department[j].dept_id %> status-<%= jobOpening[i].status %>"
              <% } %>
            <% } %>
          >
            <div class="d-flex">
              <div class="me-1">
                <!-- display date opened -->
                <% if (date[i].job_id == jobOpening[i].job_id) { %>
                  <% if (date[i].date != 'Invalid date') { %>
                    <span id="job-<%= jobOpening[i].job_id %>-date"><%= date[i].date %></span>
                  <% } else { %>
                    <span id="job-<%= jobOpening[i].job_id %>-date">Not opened</span>
                  <% } %>
                <% } %>
              </div> | 
              <div class="ms-1">
                <!-- display job-type -->
                <span><%= jobOpening[i].job_type %></span>
              </div>
            </div>
            <!-- display job title -->
            <p style= font-size:2em; class="mb-0">
              <a href="/job-requirement/<%= jobOpening[i].job_id %>" style="text-decoration: none; color: black;">
                <%= jobOpening[i].job_title %>
              </a>
            </p>
            <!-- display skills -->
            <div class="d-flex mb-4">
              <% for (let j=0; j < jobSkill.length; j++) { %>
                <% if(jobOpening[i].job_id == jobSkill[j].job_id) {%>
                  <div class="skill-item me-1">
                    <small><%= jobSkill[j].skill_name %></small>
                  </div>
                <% } %>
              <% } %>
            </div>
            <!-- number of applications -->
            <div>
              <% let applicants =  0 %>
              <p class="d-flex">
                <% for (let j=0; j < jobApplications.length; j++) { %>
                  <% if(jobOpening[i].job_id == jobApplications[j].job_id) { %>
                      <% applicants++; %>
                  <% } %>
                <% } %>
                <%= applicants; %>
                Applications
              </p>
            </div>
            <!-- status-->
            <div class= "status">
              <form action="/job/<%= jobOpening[i].job_id %>/status" method="post" class="statusForm" id="job_<%= jobOpening[i].job_id %>">
                <input type="radio" class="active-radio"
                  name="status[<%= jobOpening[i].job_id %>]"
                  value="0"
                  <% if(jobOpening[i].status == '0') {%>
                  checked
                  <% } %>
                >
                <label for="active">ACTIVE</label><br>
                <input type="radio" class="draft-radio"
                  name="status[<%= jobOpening[i].job_id %>]"
                  value="1"
                  <% if(jobOpening[i].status == '1') {%>
                    checked
                  <% } %>
                >
                <label for="draft">DRAFT</label><br>
                <input type="radio" class="archive-radio"
                  name="status[<%= jobOpening[i].job_id %>]"
                  value="2"
                  <% if(jobOpening[i].status == '2') {%>
                    checked
                  <% } %>
                >
                <label for="draft">ARCHIVE</label><br>
                <button type="button">x</button>
              </form>
            </div>
          </div>
        <% } %>
      </div>
      </div>
      <div class="col-1 p-0" style="background-color: #f2f2f2;">
        <!-- list view and grid view buttons-->
        <!-- <div class="btn-group">
          <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
          </span></a> <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span></a>
        </div> -->
        grid view <br>
        list view 
      </div>
    </div>
  </div>
</div>

<%- include('./filterFunctions/jobListingFilter.ejs') %>
<%- include('./layout/footer.ejs') %>
