<%- include('./layout/header.ejs') %>
<div class="">
  <div class="row min-vh-100">
    <div class="col-sm-2">
      <div class="d-flex flex-column min-vh-100">
        <div>
          <a href="/job-requirement">JOB REQUIREMENT</a>
        </div>
        <div>
          <a href="/job-details/">JOB DETAILS</a>
        </div>
        <div>
          <a href="/exam">EXAM</a>
        </div>
        <div class="mt-auto">
          <a href="/">BACK TO JOB PAGE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <h4>CREATE JOB DETAILS</h4>
      <% for (let i = 0; i < job.length; i++) { %>
      <form class="" action="/job-details/<%= job[i].job_id %>" method="post">
        <h3><%= job[i].job_title %></h3>
        <div>
          <label for="">Role</label>
          <div class="">
            <input type="text" name="" placeholder="Enter a Role" />
          </div>
        </div>
        <div>
          <% for (let j = 0; j < catView.length; j++) { %>
          <div class="">
            <h4><%= catView[j].category_name %></h4>
<<<<<<< HEAD
            <% for (let k = 0; k < detailsView.length; k++) { %> <% if
            (catView[j].category_id === detailsView[k].category_id) {%>
            <li><%= detailsView[k].item_description %></li>
            <% } %> <% } %>
=======

            <% for (let k = 0; k < detailsView.length; k++) { %> <% if
            (catView[j].category_id === detailsView[k].category_id) { %> <% if
            (detailsView[k].item_description != null) {%>
            <li><%= detailsView[k].item_description %></li>
            <% } %> <% } %> <% } %>
>>>>>>> 91ec533df14e4ca2ce806c2cd820f1bab0bb3ec6
            <input
              type="text"
              name="details"
              placeholder="Enter a <%=catView[j].category_name%>"
            />
            <button name="button" value="detailsBtn">+</button>
          </div>

          <% } %>

          <input type="text" name="category" placeholder="Add a category" />
          <button name="button" value="categoryBtn">+</button>
          <div><button name="button" value="saveBtn">SAVE</button></div>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</div>
<<<<<<< HEAD
<%- include('./layout/footer.ejs') %>
=======
<%- include('./layout/footer.ejs') %>
>>>>>>> 91ec533df14e4ca2ce806c2cd820f1bab0bb3ec6
