<%- include('./layout/header.ejs') %>
<div class="">
  <div class="row min-vh-100">
    <div class="col-sm-2">
      <div class="d-flex flex-column min-vh-100">
        <div>
          <a href="/job-requirement">JOB REQUIREMENT</a>
        </div>
        <div>
          <a href="/job-details">JOB DETAILS</a>
        </div>
        <div>
          <a href="/exam">EXAM</a>
        </div>
        <div class="mt-auto">
          <a href="#">BACK TO JOB PAGE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <h4>CREATE JOB DETAILS</h4>
      <h3>HR GENERALIST</h3>

      <form class="" action="/job-details" method="post">
        <div>
          <label for="">Role</label>
          <div class="">
            <input type="text" name="" placeholder="Enter a Role" />
          </div>
        </div>
        <div>
          <% for (let i = 0; i < newListItems.length; i++) { %>
          <div class="">
            <p><%= newListItems[i] %></p>
            <% for (let j = 0; j < newListDetails.length; j++) { %>
            <li><%= newListDetails[j] %></li>
            <% } %>
            <input
              type="text"
              name="details"
              placeholder="Enter a <%=newListItems[i]%>"
            />
            <button name="button" value="detailsBtn">+</button>
          </div>

          <% } %>

          <input type="text" name="category" placeholder="Add a category" />
          <button name="button" value="categoryBtn">+</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs') %>
