<%- include('./layout/header.ejs') %>
<div class="container-fluid">
  <div class="row" style="padding-top: 65px;">
    <div class="col-sm-2 sidenav">
      <div class="d-flex flex-column">
        <div class="mb-1 p-4 sidenavtab">
          <a href="/job-requirement/<%= jobId %>">JOB REQUIREMENT</a>
        </div>
        <div class="mb-1 p-4 sidenavtab" style="background-color: #f2f2f2;">
          <a href="/job-details/<%= jobId %>">JOB DETAILS</a>
        </div>
        <div class="mb-1 p-4 sidenavtab">
          <a href="/exam/<%= jobId %>">
            EXAM
            <% let exam =  0 %>
            <% for (let j=0; j < jobQuestion.length; j++) { %>
              <% if(jobId == jobQuestion[j].job_id) { %>
                  <% exam++; %>
              <% } %>
            <% } %>
            ( <%= exam; %> SELECTED )
          </a>
        </div>
        <div class="p-4 mb-1 sidenavtab" style="height: 66vh;">
        
        </div>
        <div class="mb-1 p-4 sidenavtab">
          <a href="/">BACK TO JOBS PAGE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10 p-4 main">
      <h6>CREATE JOB DETAILS</h6>
      <% for (let i = 0; i < job.length; i++) { %>
      <h1 class="mb-5"><%= job[i].job_title %></h1>
      <div class="mb-4">
        <label for="role"><h5>Role</h5></label>
        <div>
          <% if(jobDetail != 0) { %> 
            <% for (let j = 0; j < jobDetail.length; j++) { %>
            <form action="/edit-role/job-<%= jobId %>" method="post">
              <div class="d-flex">
                <textarea
                  type="text"
                  name="role"
                  placeholder="Enter a Role"
                  class="border-0 w-100 p-2"
                  style="resize: none; height: 150px; background-color: #e6e6e6; overflow: hidden;"
                  onfocus="textAreaAdjust(this)"
                  onkeyup="textAreaAdjust(this)"
                ><%= jobDetail[j].role %></textarea>
                <button class="border-0 pt-2" style="background-color: #e6e6e6; display: inline-flex; align-items: flex-start;">
                  <i class="fa-solid fa-check"></i>
                </button>
              </div>
            </form>
            <% } %> 
          <% } else { %>
            <form action="/add-role/<%= jobId %>" method="post">
              <textarea class="border-0 w-100" style="resize: none; height: 150px; background-color: #e6e6e6;" type="text" name="role" placeholder="Enter a Role"></textarea>
              <button class="border-0 pt-2" style="background-color: #e6e6e6; display: inline-flex; align-items: flex-start;">+</button>
            </form>
          <% } %>
        </div>
      </div>
      <% } %>
      <div class="mb-4">
        <h5>Responsibility</h5>
        <% for(let i = 0; i < jobResponsibility.length; i++) { %>
          <div class="d-flex mb-2" style="background-color: #e6e6e6;">
            <form
              class="w-100"
              style="display: inline"
              action="/update/job-<%= jobId %>/category-responsibility/item-<%= jobResponsibility[i].responsibility_id %>"
              method="post"
            >
              <div class="d-flex">
                <textarea
                  type="text"
                  name="responsibility_item"
                  onkeydown="addUpdateBtn('<%= jobResponsibility[i].responsibility_id %>', 'responsibility')"
                  onfocus="textAreaAdjust(this)"
                  onkeyup="textAreaAdjust(this)"
                  class="border-0 w-100 px-2"
                  style="resize: none; height: 45px; background-color: #e6e6e6; padding-top: 10px; overflow: hidden;"
                ><%= jobResponsibility[i].responsibility_detail %></textarea>
                <button
                  style="background-color: #e6e6e6; display: inline-flex; align-items: flex-start;"
                  class="update-btn d-none border-0 pt-2 pe-2"
                  id="responsibility_<%= jobResponsibility[i].responsibility_id %>"
                  type="submit"
                >
                  <i class="fa-solid fa-check"></i>
                </button>
              </div>
            </form>
            <form
              class="delete-btn"
              id="responsibility_<%= jobResponsibility[i].responsibility_id %>"
              style="display: inline"
              action="/deleteResponsibility/<%= jobId %>/<%= jobResponsibility[i].responsibility_id %>"
              method="post"
            >
              <button class="border-0 pt-1 pe-3" style="height: 45px; background-color: #e6e6e6;" type="submit">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </form>
          </div>
        <% } %>
        <form action="/addResponsibility/<%= jobId %>" method="post">
          <div class="d-flex mb-4">
            <textarea
              class="border-0 w-100 px-2"
              style="resize: none; height: 45px; padding-top: 10px;"
              type="text"
              name="responsibility_detail"
              placeholder="Enter a responsibility"
              required
              onkeyup="textAreaAdjust(this)"
            ></textarea>
            <button class="border-0 pt-1 pe-3" style="height: 45px; background-color: #fff;" type="submit"><i class="fa fa-plus"></i></button>
          </div>
        </form>
      </div>
      <div class="mb-4">
        <h5>Qualification</h5>
        <% for(let i = 0; i < jobQualification.length; i++) { %>
        <div class="d-flex mb-2" style="background-color: #e6e6e6;">
          <form
            class="w-100"
            style="display: inline"
            action="/update/job-<%= jobId %>/category-qualification/item-<%= jobQualification[i].qualification_id %>"
            method="post"
          >
            <div class="d-flex">
              <textarea
                type="text"
                name="qualification_item"
                onkeydown="addUpdateBtn('<%= jobQualification[i].qualification_id%>', 'qualification')"
                onfocus="textAreaAdjust(this)"
                onkeyup="textAreaAdjust(this)"
                class="border-0 w-100 px-2"
                style="resize: none; height: 45px; background-color: #e6e6e6; padding-top: 10px; overflow: hidden;"
              ><%= jobQualification[i].qualification_detail%></textarea>
              <button
                style="height: 45px; background-color: #e6e6e6;"
                class="update-btn d-none border-0 pt-2 pe-2"
                id="qualification_<%= jobQualification[i].qualification_id%>"
                type="submit"
              >
                <i class="fa-solid fa-check"></i>
              </button>
            </div>
          </form>
          <form
            id="qualification_<%= jobQualification[i].qualification_id%>"
            class="delete-btn"
            style="display: inline"
            action="/deleteQualification/<%= jobId %>/<%= jobQualification[i].qualification_id %>"
            method="post"
          >
            <button class="border-0 pt-2 pe-3" style="height: 45px; background-color: #e6e6e6;" type="submit"><i class="fa-solid fa-xmark"></i></button>
          </form>
        </div>
        <% } %>
        <form action="/addQualification/<%= jobId %>" method="post">
          <div class="d-flex mb-4">
            <textarea
              class="border-0 w-100 px-2"
              style="resize: none; height: 45px; padding-top: 10px;"
              type="text"
              name="qualification_detail"
              placeholder="Enter a qualification"
              required
              onkeyup="textAreaAdjust(this)"
            ></textarea>
            <button class="border-0 pt-1 pe-3" style="height: 45px; background-color: #fff;" type="submit"><i class="fa fa-plus"></i></button>
          </div>
        </form>
      </div>

      <% for (let i = 0; i < jobCategory.length; i++) { %>
      <div>
        <h5><%= jobCategory[i].category_detail %></h5>
        <% for (let j = 0; j < jobCategoryItem.length; j++) { %> 
          <% if(jobCategory[i].category_id == jobCategoryItem[j].category_id) { %>
            <div class="d-flex mb-2" style="background-color: #e6e6e6;">
              <form
                class="w-100"
                style="display: inline"
                action="/update/job-<%= jobId %>/category-<%= jobCategory[i].category_id %>/item-<%= jobCategoryItem[j].item_id %>"
                method="post"
              >
                <div class="d-flex">
                  <textarea
                      type="text"
                      name="category_item"
                      onkeydown="addUpdateBtn('<%= jobCategoryItem[j].item_id %>', '<%= jobCategory[i].category_detail %>')"
                      onfocus="textAreaAdjust(this)"
                      onkeyup="textAreaAdjust(this)"
                      class="border-0 w-100 px-2"
                      style="resize: none; height: 45px; background-color: #e6e6e6; padding-top: 10px; overflow: hidden;"
                    ><%= jobCategoryItem[j].item_detail %></textarea>
                  <button
                    style="height: 45px; background-color: #e6e6e6;"
                    class="update-btn d-none border-0 pt-2 pe-2"
                    id="<%= jobCategory[i].category_detail %>_<%= jobCategoryItem[j].item_id %>"
                    type="submit"
                  >
                    <i class="fa-solid fa-check"></i>
                  </button>
                </div>
              </form>
              <form
                id="<%= jobCategory[i].category_detail %>_<%= jobCategoryItem[j].item_id %>"
                class="delete-btn"
                style="display: inline"
                action="/delete/job-<%= jobId %>/category-<%= jobCategory[i].category_id %>/item-<%= jobCategoryItem[j].item_id %>"
                method="post"
              >
                <button class="border-0 pt-2 pe-3" style="height: 45px; background-color: #e6e6e6;" type="submit"><i class="fa-solid fa-xmark"></i></button>
              </form>
            </div>
          <% } %> 
        <% } %>
        <form
          action="/add/<%= jobId %>/<%= jobCategory[i].category_id %>"
          method="post"
        >
          <div class="d-flex mb-4">
            <textarea
              class="border-0 w-100 px-2"
              style="resize: none; height: 45px; padding-top: 10px;"
              type="text"
              name="item"
              placeholder="Enter a <%= jobCategory[i].category_detail %>"
              required
            ></textarea>
            <button class="border-0 pt-1 pe-3" style="height: 45px; background-color: #fff;" type="submit"><i class="fa fa-plus"></i></button>
          </div>
        </form>
      </div>
      <% } %>
      <form action="/add-category/<%= jobId %>" method="post">
        <div class="d-flex mb-4">
          <input
            class="border-0 w-100 px-2"
            style="resize: none; height: 45px;"
            type="text"
            name="categoryDetail"
            placeholder="Add a category"
            required
            onkeyup="textAreaAdjust(this)"
          />
          <button class="border-0 pt-1 pe-3" style="height: 45px; background-color: #fff;" type="submit"><i class="fa fa-plus"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function addUpdateBtn(itemId, category) {
    const allUpdateBtn = document.querySelectorAll('.update-btn');
    const allDelBtn = document.querySelectorAll('.delete-btn');

    allDelBtn.forEach((btn) => {
      if (
        btn.getAttribute('id') == `${category}_${itemId}`
      ) {
        btn.classList.add('d-none');
      }
    });

    allUpdateBtn.forEach((btn) => {
      if (
        btn.getAttribute('id') == `${category}_${itemId}`
      ) {
        btn.classList.remove('d-none');
      }
    });
  }

  function textAreaAdjust(element) {
    element.style.height = "1px";
    element.style.height = (25+element.scrollHeight)+"px";
  }
</script>
<%- include('./layout/footer.ejs') %>
