<%- include('./layout/header.ejs') %>
<div class="row min-vh-100">
  <div class="col-sm-2">
    <div class="d-flex flex-column min-vh-100">
      <div>
        <a href="/job-requirement">JOB REQUIREMENT</a>
      </div>
      <div>
        <p>JOB DETAILS</p>
      </div>
      <div>
        <p>EXAM</p>
      </div>
      <div class="mt-auto">
        <a href="/">BACK TO JOB PAGE</a>
      </div>
    </div>
  </div>
    
  <div class="col-sm-10">
    <h3>NEW JOB OPENING</h3>
    <form method="POST" action="/job-requirement" >
      <div>
        <label for="jobId">JOB ID</label> <br>
        <input type="number"  name="jobId" value="<%= unique %>" readonly>
      </div>
      <br>
      <div>
        <label for="jobtitle">JOB TITLE</label><br />
        <input type="text" id="jobTitle" name="jobTitle" />
      </div>
      <br>
      <div>
        <label for="department">DEPARTMENT</label>
        <select name="department" id="deparment" >
          <% for(let i = 0; i < dept.length; i++) { %>
          <option value="<%= dept[i].dept_name %>" ><%= dept[i].dept_name %></option>
          <% } %>
        </select>
      </div>
      <br>
      <div>
        <label for="salary range">SALARY RANGE</label>
        <input type="number" min="1" name="salaryRange" id="salary range" required>
      </div>
      <br>
      <div>
        <label for="career level">CAREER LEVEL</label>
        <select name="careerLevel" id="career level" >
          <option value="Level 1">Level 1</option>
          <option value="Level 2">Level 2</option>
          <option value="Level 3">Level 3</option>
          <option value="Level 4">Level 4</option>
        </select>
      </div>
      <br>
      <div>
        <label for="work type">WORK TYPE</label>
        <select name="workType" id="work type" >
          <% for(let i = 0; i < jobType.length; i++) { %>
            <option value="<%= jobType[i].job_type_name %>" ><%= jobType[i].job_type_name %></option>
          <% } %>
        </select>
      </div>
      <br>
      <div>
        <label for="jobdesc">JOB DESCRIPTION</label><br />
        <input type="text" id="jobdesc" name="jobDesc" />
      </div>
      <br>
    <h4>MINIMUM QUALIFICATIONS</h4>
    
      <div>
        <label for="years">YEARS OF EXPERIENCE</label><br />
        <input type="number" min="0" id="years" name="yearsOfExp" required/>
      </div>
      <br>
      <div>
        <label for="exam score">EXAM SCORE</label><br />
        <input type="number" min="0" id="exam score" name="examScore" required/>
      </div>
      <br>
      <div>
        <label for="hr">HR ASSESSMENT</label>
        <select name="hrAssessment" id="hr" >
          <% for(let i = 0; i < hrAssessment.length; i++) { %>
            <option value="<%= hrAssessment[i].remark_name %>" ><%= hrAssessment[i].remark_name %></option>
            <% } %>
        </select>
      </div>
      <br>
    <h5>PROGRAMMING LANGUAGES, IDE AND FRAMEWORKS</h5>
      <% for(let i=0; i < adminSkill.length; i++) { %>
        <div>
        <input
          type="checkbox"
          id="<%= adminSkill[i].skill_name %>"
          name="skill_id_<%= i + 1 %>"
          value="<%= adminSkill[i].skill_id %>"
        />
        <label for="<%= adminSkill[i].skill_name %>">
          <%= adminSkill[i].skill_name %></label
        >
        <input type="radio" id="1" name="skill_level_<%= i + 1%>" value="1" />
        <label for="1">1</label>
        <input type="radio" id="2" name="skill_level_<%= i + 1%>" value="2" />
        <label for="2">2</label>
        <input type="radio" id="3" name="skill_level_<%= i + 1%>" value="3" />
        <label for="3">3</label>
        <input type="radio" id="4" name="skill_level_<%= i + 1%>" value="4" />
        <label for="4">4</label>
        <input type="radio" id="5" name="skill_level_<%= i + 1%>" value="5" />
        <label for="5">5</label>
        </div>
      <% } %> 
      <div>
        <h6>EXAM</h6>
        <ul>
          <h6>NO SELECTED EXAMS!</h6>
          <h6>SELECT LATER IN THE EXAM TAB AFTER SAVING</h6>
        </ul>
      </div>
      <button>SAVE</button>
    </form>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs') %>
