<%- include('./layout/header.ejs') %>
<div class="container-fluid" style="overflow-x: hidden;">
<div class="row" style="padding-top: 65px" >
  <div class="col-sm-2 sidenav">
    <div class="d-flex flex-column">
      <div class="mb-1 p-4 sidenavtab" style="background-color: #f2f2f2;">
        <a href="/job-requirement">JOB REQUIREMENT</a>
      </div>
      <div class="mb-1 p-4 sidenavtab">
        JOB DETAILS
      </div>
      <div class="mb-1 p-4 sidenavtab">
        EXAM
      </div>
      <div class="p-4 mb-1 sidenavtab" style="height: 66vh;">
        
      </div>
      <div class="mb-1 p-4 sidenavtab">
        <a href="/">BACK TO JOBS PAGE</a>
      </div>
    </div>
  </div>
    
  <div class="col-sm-10 p-4 main">
    <form method="POST" action="/job-requirement" >
      <div class="container-fluid p-0 m-0 mb-3">
        <div class="row">
          <div class="col-12 ps-0">
            <h4>NEW JOB OPENING</h4>
          </div>
          <div>
            <input type="hidden"  name="jobId" value="<%= unique %>" readonly>
          </div>
          <div class="col-8 form-floating ps-0 pe-2 mb-2">
            <input 
              class="w-100 form-control ps-2 border-0" 
              id="floatingInput" 
              placeholder="JOB TITLE" 
              type="text" 
              name="jobTitle" required
            >
            <label for="floatingInput">JOB TITLE</label>
          </div>
          <div class="col-4 form-floating ps-0">
            <select class="form-select w-100 border-0" name="department" id="department" required>
              <option hidden value="">Select</option>
              <% for(let i = 0; i < dept.length; i++) { %>
                <option value="<%= dept[i].dept_id %>" ><%= dept[i].dept_name %></option>
                <% } %>
              </select>
              <label for="department">DEPARTMENT</label>
          </div>
          <div class="col-4 form-floating ps-0">
            <input class="w-100 form-control border-0" placeholder="Select" type="number" min="1" name="salaryRange" id="salary-range" required>
            <label for="salary-range">SALARY RANGE</label>
          </div>
          <div class="col-4 form-floating ps-0">
            <select class="form-select border-0" name="careerLevel" id="career-level" >
              <option hidden value="">Select</option>
              <% for(let i = 0; i < positionLevel.length; i++) { %>
                <option value="<%= positionLevel[i].position_level_name %>" ><%= positionLevel[i].position_level_name %></option>
              <% } %>
            </select>
            <label for="floatingSelect">CAREER LEVEL</label>
          </div>
          <div class="col-4 form-floating ps-0 mb-2">
            <select class="form-select w-100 border-0" name="workType" id="worktype" required>
              <option hidden value="">Select</option>
              <% for(let i = 0; i < jobType.length; i++) { %>
                <option value="<%= jobType[i].job_type_name %>" ><%= jobType[i].job_type_name %></option>
                <% } %>
              </select>
              <label for="worktype">WORK TYPE</label>
          </div>
          <br>
          <div class="col-12 form-floating ps-0 mb-3">
            <textarea class="form-control border-0" style="height: 200px; resize: none;"  id="jobdesc" name="jobDesc" ></textarea>
            <label for="jobdesc">JOB DESCRIPTION</label>
          </div>
        </div>
      </div>

      <div class="container-fluid p-0 m-0 mb-3">
        <div class="row">
          <div class="col-12 ps-0">
            <h4>MINIMUM QUALIFICATION</h4>
          </div>
          <div class="col-4 form-floating ps-0 mb-3">
            <input class="form-control w-100 border-0" type="number" min="0" id="years" name="yearsOfExp" required/>
            <label for="years">YEARS OF EXPERIENCE</label>
          </div>
          <div class="col-4 form-floating ps-0 mb-3">
            <input class="form-control w-100 border-0" type="number" min="0" id="skill score" name="skillScore" required/>
            <label for="skill score">SKILL SCORE</label>
          </div>
          <div class="col-4 form-floating ps-0 mb-3">
            <input class="form-control w-100 border-0" type="number" min="0" id="personality score" name="personalityScore" required/>
            <label for="personality score">PERSONALITY SCORE</label>
          </div>
        </div>
      </div>
      <style>
        .skills-div {
          display:flex;
          flex-direction:column;
          flex-wrap:wrap;
          height:8em;
          width:0;
        }

        .skill-set {
          display:block;
          width: max-content;
        }
      </style>
    <p>PROGRAMMING LANGUAGES, IDE AND FRAMEWORKS</p>
      <div class="skills-div mb-4">
        <% for(let i=0; i < adminSkill.length; i++) { %>
          <div class="skilltype <%= adminSkill[i].skill_type %> skill-set me-5">
          <input
            type="checkbox"
            id="checkbox-<%= adminSkill[i].skill_id %>"
            name="skill_id"
            value="<%= adminSkill[i].skill_id %>"
            onclick="selectDefaultRadio('<%= adminSkill[i].skill_id %>')"
          />
          <label style="width: 80px; font-weight: 500;" for="<%= adminSkill[i].skill_name %>">
            <%= adminSkill[i].skill_name %></label
          >
          <label class="me-2 d-inline-flex" style="font-size: 10px; align-items: center;" for="1">
            <input
              type="radio"
              name="skill_level[<%= adminSkill[i].skill_id %>]"
              value="1"
              id="radio-1-<%= adminSkill[i].skill_id %>"
              class="radio-<%= adminSkill[i].skill_id %> me-1"
              onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
              />
            1
          </label>
          <label class="me-2 d-inline-flex" style="font-size: 10px; align-items: center;" for="2">
            <input
              type="radio"
              id="2"
              name="skill_level[<%= adminSkill[i].skill_id %>]"
              value="2"
              class="radio-<%= adminSkill[i].skill_id %> me-1"
              onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
            />
            2
          </label>
          <label class="me-2 d-inline-flex" style="font-size: 10px; align-items: center;" for="3">
            <input
              type="radio"
              id="3"
              name="skill_level[<%= adminSkill[i].skill_id %>]"
              value="3"
              class="radio-<%= adminSkill[i].skill_id %> me-1"
              onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
            />
            3
          </label>
          <label class="me-2 d-inline-flex" style="font-size: 10px; align-items: center;" for="4">
            <input
              type="radio"
              id="4"
              name="skill_level[<%= adminSkill[i].skill_id %>]"
              value="4"
              class="radio-<%= adminSkill[i].skill_id %> me-1"
              onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
            />
            4
          </label>
          <label class="me-2 d-inline-flex" style="font-size: 10px; align-items: center;" for="5">
            <input
              type="radio"
              id="5"
              name="skill_level[<%= adminSkill[i].skill_id %>]"
              value="5"
              class="radio-<%= adminSkill[i].skill_id %> me-1"
              onclick="autoCheckBox('<%= adminSkill[i].skill_id %>')"
            />
            5
          </label>
          </div>
        <% } %>
      </div>
      <div class="mb-4">
        <h6 style="font-weight: 500;">Status</h6>
        <input type="radio" id="Draft" name="status" value="1" checked>
         <label for="Draft">Draft</label>
        <input type="radio" id="Active" name="status" value="0">
          <label for="Active">Active</label>
        <input type="radio" id="Archive" name="status" value="2">
          <label for="Archive">Archive</label>
      </div>
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col-12 ps-0">
            <h4>EXAM</h4>
            <ul>
              <h6>NO SELECTED EXAMS!</h6>
              <h6>SELECT LATER IN THE EXAM TAB ON THE SIDEBAR AFTER SAVING</h6>
            </ul>
          </div>
        </div>
      </div>
      <button class="px-5 py-3" style="background-color: #4d4d4d; color: white; border: none;">SAVE</button>
    </form>
    </div>
  </div>
</div>


<%- include('./filterFunctions/jrDepartmentFilter.ejs') %>
<%- include('./layout/footer.ejs') %>
