<%- include('./layout/resumeHeader.ejs') %>
<div class="container g-0 m-0 p-0">
  <div class="row min-vh-100 min-vw-100 g-0">
    <% if (applicantRecord == 0) { %>
        <div class="d-flex justify-content-center align-items-center">Applicant does not exist</div>
    <% } else if (personalityQuestions == 0) { %>
        <div class="d-flex justify-content-center align-items-center">Unavailable</div>
    <% } else { %>
        <div class="col-sm-2 pl-1 sideBar">
            <div class="d-flex flex-column" style="background-color: #f2f2f2;">
              <div class="py-3 mb-1 px-5" style="background-color: #e6e6e6;">
                <a href="/careers/job/<%= jobId %>/resume/application/<%= appId %>" style="text-decoration: none; color: black;"
                  >RESUME</a
                >
              </div>
              <div class="py-3 mb-1 px-5" style="background-color: #f2f2f2;">
                  <a style="text-decoration: none; color: black;" href="/careers/job/<%= jobId %>/personality-test/application/<%= appId %>"
                    >PERSONALITY TEST</a
                  >
            </div>
            <% if (jobQuestion != 0) { %>
                <div class="py-3 mb-1 px-5" style="background-color: #e6e6e6;">
                    <a style="text-decoration: none; color: black"
                        <% if (personalityRecord != undefined) { %>
                            href="/careers/job/<%= jobId %>/technical-exam/application/<%= appId %>"
                        <% } %>
                    >
                    TECHNICAL EXAM
                    </a>
                </div>
            <% } %>
              <div class="py-3 mb-1 px-5" style="background-color: #e6e6e6;">
                <a 
                href="/careers/job/<%= jobId %>/technical-exam/application/<%= appId %>/submit"
                >
                  <button
                  <% if((jobQuestion != 0 && applicantExamRecord == undefined )|| personalityRecord == undefined) { %>
                    disabled
                  <% } %> 
                  class="px-5 py-3"
                  >SUBMIT
                  </button>
                </a>
              </div>
              
            </div>
          </div>
          <div class="col-sm-10 p-5 main">
              
          
          <% if(personalityRecord != undefined) { %>
            <h1>PERSONALITY TEST COMPLETED</h1>
          <% } else { %>
                <h1>PERSONALITY TEST</h1>
              <div class="header mb-4">
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi voluptatem quas voluptas id cumque, illum omnis delectus dignissimos dolores ad velit libero. Laborum nemo rerum, placeat minus consequatur eaque.
                  </p>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere animi explicabo omnis porro voluptatem dolores. Laborum voluptates itaque hic dolore!
                  </p>
              </div>
              <div class="questions">
                  <form action="/careers/job/<%= jobId %>/personality-test/application/<%= appId %>" method="post" id="personality-test">
                      <% for( let i = 0; i < personalityQuestions.length; i++ ) { %>
                          <div class="question_<%= i+1 %> mb-3">
                              <p>
                                  <%= i+1 %>. <%= personalityQuestions[i].question_detail %>
                              </p>
                              <input 
                                  type="hidden" 
                                  value="<%= personalityQuestions[i].question_id %>"
                                  name="question_id"
                              >
                              <input 
                                  type="hidden" 
                                  value="<%= personalityQuestions[i].question_type %>"
                                  name="question_type"
                              >
                              <div class="d-none">
                                  <input 
                                      type="radio" 
                                      id="q-<%= i+1 %>-choice-0" 
                                      name="applicant_answer[<%= i+1 %>]"
                                      value="0"
                                      checked
                                  >
                                  <label for="choice-0">No Answer</label>
                              </div>
                              <div class="ms-3">
                                  <div>
                                      <label for="choice-1" style="display:inline-flex; align-items: center;">
                                          <input
                                          type="radio"
                                          id="q-<%= i+1 %>-choice-1"
                                          name="applicant_answer[<%= i+1 %>]"
                                          value="1"
                                          class="me-2"
                                      >
                                          <%= personalityQuestions[i].choice_1 %>
                                      </label>
                                  </div>
                                  <div>
                                      <label for="choice-2" style="display:inline-flex; align-items: center;">
                                          <input
                                              type="radio"
                                              id="q-<%= i+1 %>-choice-2"
                                              name="applicant_answer[<%= i+1 %>]"
                                              value="2"
                                              class="me-2"
                                          >
                                          <%= personalityQuestions[i].choice_2 %>
                                      </label>
                                  </div>
                                  <div>
                                      <label for="choice-3" style="display:inline-flex; align-items: center;">
                                          <input
                                              type="radio"
                                              id="q-<%= i+1 %>-choice-3"
                                              name="applicant_answer[<%= i+1 %>]"
                                              value="3"
                                              class="me-2"
                                          >
                                          <%= personalityQuestions[i].choice_3 %>
                                      </label>
                                  </div>
                                  <div>
                                      <label for="choice-4" style="display:inline-flex; align-items: center;">
                                          <input
                                              type="radio"
                                              id="q-<%= i+1 %>-choice-4"
                                              name="applicant_answer[<%= i+1 %>]"
                                              value="4"
                                              class="me-2"
                                          >
                                          <%= personalityQuestions[i].choice_4 %>
                                      </label>
                                  </div>
                              </div>
                          </div> 
                      <% } %>
                      <button class="px-5 py-3" style="background-color: #4d4d4d; color: white; border: none;" type="submit">SAVE TEST</button>
                  </form>
              </div>
          <% } %>
          </div>
    <% } %> 
  </div>
</div>
<style>
    p, label {
        font-weight: 500;
    }
</style>

<%- include('./layout/resumeFooter.ejs') %>
