<%- include('./layout/resumeHeader.ejs') %>
<div class="container g-0 m-0 p-0">
  <div class="row min-vh-100 min-vw-100 g-0">
    <div class="col-sm-2 pl-1">
      <div class="d-flex flex-column">
        <div>
          <a href="/resume/<%= jobId %>">RESUME</a>
        </div>
        <div>
          <a href="#">EXAM</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <form action="/resume/<%= jobId %>" method="post">
        <% for(let i = 0; i < jobs.length; i ++) { %>
          <div>
            <h5>YOU ARE APPLYING FOR THE POSITION</h5>
            <h1><%= jobs[i].job_title %></h1> 
          </div>
          <div class="mb-3">
            <%= jobs[i].job_description %> 
          </div>
          <% } %>
            <h5>Your Personal Information</h5>
            <div class="mb-4">
              <% for( let i = 0; i < applicants.length; i++) { %>
                <p><strong>NAME</strong></p>
                <input type="text" name="first_name" placeholder="First Name" value="<%= applicants[i].first_name %>">
                <input type="text" name="middle_name" placeholder="Middle Name" value="<%= applicants[i].middle_name %>">
                <input type="text" name="last_name" placeholder="Last Name" value="<%= applicants[i].last_name %>">
                <p><strong>GENDER</strong></p>
                <select name="gender" id="contact">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <p><strong>DATE OF BIRTH</strong></p>
                <input type="text" name="date_of_birth" placeholder="MM/DD/YYYY" value="<%= applicants[i].date_of_birth %>">
                <p><strong>CONTACT</strong></p>
                <input type="email" name="email" placeholder="Email Address" value="<%= applicants[i].email%>">
                <input type="number" name="skype" placeholder="Skype ID" value="<%= applicants[i].skype%>">
                <input type="number" name="mobile" placeholder="Mobile Number" value="<%= applicants[i].mobile%>">
                <p><strong>PREFERRED CONTACT</strong></p>
                <select name="preferred_contact" id="contact">
                  <option value="Email">Email</option>
                  <option value="Skype">Skype</option>
                  <option value="Mobile">Number</option>
                </select>
                <p><strong>ADDRESS</strong></p>
                <input type="text" name="address" placeholder="Address" value="<%= applicants[i].address %>">
                <input type="text" name="city" placeholder="City" value="<%= applicants[i].city %>">
                <input type="text" name="province" placeholder="Province" value="<%= applicants[i].province %>">
                <p><strong>EXPECTED SALARY</strong></p>
                <input type="number" name="salary">
                <p><strong>PREFERRED START DATE ( SKIP TO START IMMEDIATELY )</strong></p>
                <input type="date" name="startDate">
                <p><strong>PREFERRED INTERVIEW DATE</strong></p>
                <input type="date" name="preferred_interview_1" value="<%= applicants[i].preferred_interview_date_1 %>">
                <input type="date" name="preferred_interview_2" value="<%= applicants[i].preferred_interview_date_2 %>">
                <input type="date" name="preferred_interview_3" value="<%= applicants[i].preferred_interview_date_3 %>">
              <% } %> 
            </div>

            <div>
              <h5>Your Qualification</h5>
              <p>RATE YOURSELF FROM 0 TO 5, 5 BEING THE HIGHEST, IN THE FOLLOWING PROGRAMMING LANGUAGES AND FRAMEWORKS</p>
            </div>
          <button type="submit">SAVE</button>
        </form>
    </div>
  </div>
</div>

<%- include('./layout/resumeFooter.ejs') %>