<%- include('./layout/header.ejs') %>

<div class="container-fluid">
  <div class="row min-vh-100" style="padding-top: 65px;">
    <div class="col-sm-2 px-0">
        <div class="mb-1 px-5 py-3" style="background-color: #e6e6e6;">
          <a href="/branding" style="text-decoration: none; color: black;">Branding</a>
        </div>
        <div class="mb-1 px-5 py-3" style="background-color: #e6e6e6;">
          <a href="/users" style="text-decoration: none; color: black;">Users</a>
        </div>
        <div class="mb-1 px-5 py-3" style="background-color: #e6e6e6;">
          <a href="/system-variables" style="text-decoration: none; color: black;">System Variables</a>
        </div>
        <div class="mt-auto mb-1 px-5 py-3" style="background-color: #e6e6e6;">
          <a href="#" style="text-decoration: none; color: black;">BACK TO JOB PAGE</a>
        </div>
    </div>
    <div class="col-sm-10 col-md-10 p-5" style="background-color: #f2f2f2;">
      <h4>SYSTEM VARIABLES</h4>
  
      <h5 class="pt-4">Department</h5>
      <div class="container-fluid px-0">
        <div class="row border-bottom d-flex p-2">
          <% for(let i = 0; i < department.length; i++) { %>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 d-flex mb-1">
                <form action="/system-variables/department/<%= department[i].dept_id %> " method="post">
                  <div class="d-flex">
                    <input
                      autocomplete="off"
                      type="text"
                      name="departments"
                      placeholder="Enter Department"
                      value="<%= department[i].dept_name %>"
                      onkeydown="addUpdateBtn('<%= department[i].dept_id %>', 'department')"
                      style="
                        border: none;
                        height: 50px;
                        width: max-content;
                      "
                      class="px-2 py-1"
                    />
                    <button
                      class="update-btn d-none"
                      id="department_<%= department[i].dept_id %>"
                      style="
                        border: none;
                        background-color: #fff;
                        height: 50px;
                      ">
                      <i class="fa-solid fa-check"></i>
                    </button>
                    <!-- Button trigger modal -->
                    <button
                      id="department_<%= department[i].dept_id %>" class="delete-btn me-2 ps-2 pe-3 py-1"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop-<%= i+1 %>"
                      style="
                        border: none;
                        background-color: #fff;
                        height: 50px;
                      "
                    >
                      x
                    </button>
                  </div>
                </form>
              <div>
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop-<%= i+1 %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Delete department</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-center">
                        <h5>Are you sure you want to delete <%= department[i].dept_name %> department?</h5>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                        <form action="/delete/department/<%= department[i].dept_id %>" method="post" class="pe-1">
                        <button type="submit" class="btn btn-danger">DELETE</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
          <div class="col">
            <form action="/addDepartment" method="post">
              <div class="mb-4 d-flex">
                <input
                  type="text"
                  name="department"
                  placeholder="Enter Department"
                  required
                  style="
                    border: none;
                    height: 50px;
                    width: max-content;
                  "
                  class="px-2 py-1"
                />
                <button type="submit"
                  style="border: none; height: 50px; background-color: #fff;"
                  class="ps-2 pe-2 py-1"
                >
                  +
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <div class="d-flex">
        <h5 class="pt-4">Skills</h5>
        <div class="ms-3 pt-3 skill-buttons">
          <% for(let i = 0; i < department.length; i++) { %>
            <button onclick="showDept('<%= department[i].dept_id %>')"
              id="dept-<%= department[i].dept_id %>"
              class="dept-btn-<%= i+1 %> px-2 py-1"
              style="border: none;"
            >
              <%= department[i].dept_name %>
            </button>
          <% } %>
        </div>
      </div>
      <div class="container-fluid px-0">
        <div class="row border-bottom  p-2">
          <% if (department != 0) { %>
            <% for(let j = 0; j < technologies.length; j++) { %>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 d-flex dept-skill-<%= technologies[j].skill_type %> skill mb-1">
                  <form action="/system-variables/skill/<%= technologies[j].skill_id%>" method="post">
                      <div class="d-flex">
                        <input
                          autocomplete="off"
                          type="text"
                          name="technologies"
                          placeholder="Enter Skill"
                          value="<%= technologies[j].skill_name %>"
                          onkeydown="addUpdateBtn('<%= technologies[j].skill_id %>', 'skill')"
                          style="
                            border: none;
                            height: 50px;
                            width: max-content;
                          "
                          class="px-2 py-1"
                        />
                        <button
                          class="update-btn d-none"
                          id="skill_<%= technologies[j].skill_id %>"
                          style="
                            border: none;
                            background-color: #fff;
                            height: 50px;
                          "
                        >
                          <i class="fa-solid fa-check"></i>
                        </button>
                      </div>
                  </form>
                <div>
                  <form action="/delete/skill/<%= technologies[j].skill_id %>" method="post" class="pe-1">
                    <button
                      class="delete-btn ps-2 pe-3 py-1 me-1"
                      id="skill_<%= technologies[j].skill_id %>"
                      type="submit"
                      style="
                        border: none;
                        background-color: #fff;
                        height: 50px;
                      "
                    >
                      x
                    </button>
                  </form>
                </div>
              </div>
              <%  %>
            <% } %>
            <div class="col">
              <form action="/addTechnologies" method="post" id="add-skills" class="d-none">
                <div class="mb-4 d-flex">
                  <input
                    type="text"
                    name="adminSkill"
                    placeholder="Enter Skill"
                    style="
                      border: none;
                      height: 50px;
                      width: max-content;
                    "
                    class="px-2 py-1"
                  />
                  <input type="hidden" placeholder="Skill type" name="skillType" id="skill-type" readonly>
                  <button type="submit"
                    style="
                      border: none;
                      background-color: #fff;
                      height: 50px;
                    "
                    class="ps-2 pe-3 py-1"
                  >+</button>
                </div>
              </form>
            </div>
          <% } else { %>
            <h6>Add department!</h6>
          <% } %>
        </div>
      </div>
  
      <h5 class="pt-4">Job Type</h5>
      <div class="container-fluid px-0">
        <div class="row d-flex border-bottom  p-2">
          <% for(let i = 0; i < jobType.length; i++) { %>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 d-flex mb-1">
              <div class="d-flex">
                <form action="/system-variables/job-type/<%= jobType[i].job_type_id %>" method="post">
                  <input
                    autocomplete="off"
                    type="text"
                    name="type"
                    placeholder="Enter Type"
                    value="<%= jobType[i].job_type_name %>"
                    onkeydown="addUpdateBtn('<%= jobType[i].job_type_id %>', 'job_type')"
                    style="
                      border: none; 
                      height: 50px;
                      width: max-content;
                    "
                    class="px-2 py-1"
                  />
                  <button 
                    class="update-btn d-none" 
                    id="job_type_<%= jobType[i].job_type_id %>"
                    style="
                      border: none; 
                      background-color: #fff; 
                      height: 50px;
                    "
                  >
                    <i class="fa-solid fa-check"></i>
                  </button>
                </form>
                <form action="/delete/type/<%= jobType[i].job_type_id %>" method="post" class="">
                  <button 
                    class="delete-btn ps-2 pe-3 py-1" 
                    id="job_type_<%= jobType[i].job_type_id %>" 
                    type="submit"
                    style="
                      border: none; 
                      background-color: #fff; 
                      height: 50px;
                    "
                  >x</button>
                </form>
              </div>
            </div>
          <% } %>
          <div class="col">
            <form action="/addTypes" method="post">
              <div class=" d-flex mb-4">
                <input 
                  type="text" 
                  name="jobType" 
                  placeholder="Enter Type" 
                  style="
                    border: none;
                    height: 50px;
                    width: max-content;
                  "
                  class="px-2 py-1"
                />
                <button 
                  type="submit"
                  style="
                    border: none;
                    background-color: #fff;
                    height: 50px;
                  "
                  class="ps-2 pe-2 py-1"
                >+</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <h5 class="pt-4">Career Level</h5>
      <div class="container-fluid px-0">
        <div class="row d-flex border-bottom  p-2">
          <% for(let i = 0; i < positionLevel.length; i++) { %>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 d-flex mb-1">
                <form action="/system-variables/career-level/<%= positionLevel[i].position_level_id %>" method="post">
                  <div class="d-flex">
                    <input
                      autocomplete="off"
                      type="text"
                      name="career"
                      placeholder="Enter Type"
                      value="<%= positionLevel[i].position_level_name %>"
                      onkeydown="addUpdateBtn('<%= positionLevel[i].position_level_id %>', 'position_level')"
                      style="
                        border: none;
                        height: 50px;
                        width: max-content;
                      "
                      class="px-2 py-1"
                    />
                    <button 
                      class="update-btn d-none" 
                      id="position_level_<%= positionLevel[i].position_level_id %>"
                      style="
                        border: none;
                        background-color: #fff;
                        height: 50px;
                      "
                    >
                      <i class="fa-solid fa-check"></i>
                    </button>
                    <form action="/delete/career-level/<%= positionLevel[i].position_level_id %>" method="post" class="">
                      <button 
                        class="delete-btn ps-2 pe-3 py-1" 
                        id="position_level_<%= positionLevel[i].position_level_id %>" 
                        type="submit"
                        style="
                          border: none; 
                          background-color: #fff; 
                          height: 50px;
                        "
                      >x</button>
                    </form>
                  </div>
                </form>
            </div>
          <% } %>
          <div class="col">
            <form action="/addCareer" method="post">
              <div class="d-flex mb-4">
                <input 
                  type="text" 
                  name="positionLevel" 
                  placeholder="Enter Type" 
                  style="
                    border: none;
                    height: 50px;
                    width: max-content;
                  "
                  class="px-2 py-1"
                />
                <button 
                  type="submit"
                  style="
                    border: none;
                    background-color: #fff;
                    height: 50px;
                  "
                  class="ps-2 pe-2 py-1"
                >+</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <h5 class="pt-4">HR Remarks</h5>
      <div class="container-fluid px-0">
        <div class="row d-flex border-bottom  p-2">
          <% for(let i = 0; i < remarks.length; i++) { %>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 d-flex mb-1">
                <form action="/system-variables/remark/<%= remarks[i].remark_id %> " method="post">
                    <div class="d-flex">
                      <input
                        autocomplete="off"
                        type="text"
                        name="remarks"
                        placeholder="Enter Remarks"
                        value="<%= remarks[i].remark_name %>"
                        onkeydown="addUpdateBtn('<%= remarks[i].remark_id %>', 'remark')"
                        style="
                          border: none;
                          height: 50px;
                          width: max-content;
                        "
                        class="px-2 py-1"
                      />
                      <button 
                        class="update-btn d-none" 
                        id="remark_<%= remarks[i].remark_id %>"
                        style="
                          border: none;
                          background-color: #fff;
                          height: 50px;
                        "
                      >
                        <i class="fa-solid fa-check"></i>
                      </button>
                      <form action="/delete/remark/<%= remarks[i].remark_id %>" method="post" class="">
                        <button 
                          class="delete-btn me-2 ps-2 pe-3 py-1" 
                          id="remark_<%= remarks[i].remark_id %>" 
                          type="submit"
                          style="
                            border: none; 
                            background-color: #fff; 
                            height: 50px;
                          "
                        >x</button>
                      </form>
                    </div>
                </form>
            </div>
          <% } %>
          <div class="col">
            <form action="/addRemarks" method="post">
              <div class="d-flex mb-4">
                <input 
                  type="text" 
                  name="remark" 
                  placeholder="Enter Remarks" 
                  style="
                    border: none;
                    height: 50px;
                    width: max-content;
                  "
                  class="px-2 py-1"
                />
                <button 
                  type="submit"
                  style="
                    border: none;
                    background-color: #fff;
                    height: 50px;
                  "
                  class="ps-2 pe-2 py-1"
                >+</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .active{
    background-color: grey; 
    color: white;
  }
</style>
<script>
  function addUpdateBtn(dept_id, dept) {
    const allUpdateBtn = document.querySelectorAll('.update-btn');
    const allDelBtn = document.querySelectorAll('.delete-btn');

    allDelBtn.forEach((btn) => {
      if (
        btn.getAttribute('id') == `${dept}_${dept_id}`
      ) {
        btn.classList.add('d-none');
      }
    });

    allUpdateBtn.forEach((btn) => {
      if (
        btn.getAttribute('id') == `${dept}_${dept_id}`
      ) {
        btn.classList.remove('d-none');
      }
    });
  }

  function showDept(dept_id){
    const deptBtn = document.querySelector(`#dept-${dept_id}`);
    const deptSkills = document.querySelectorAll(`.dept-skill-${dept_id}`);
    const allSkills = document.querySelectorAll('.skill');
    const skillType = document.querySelector('#skill-type');
    const addSkillBtn = document.querySelector('#add-skills');

    addSkillBtn.classList.remove('d-none')

    allSkills.forEach(skill => {
      skill.classList.add('d-none');
    })

    deptSkills.forEach(skill => {
      skill.classList.remove('d-none');
    })

    skillType.value = `${dept_id}`;
  };

  $(function() {
    $('.dept-btn-1').click();
  });

  // cards changing style onclick
  $('.skill-buttons button').click(function(){
    $('.skill-buttons button').removeClass('active');
    $(this).addClass('active')
  })
</script>

<%- include('./layout/footer.ejs') %>
