<style>
/* .abc{
 margin-bottom: 50%;
} */
input{
  border: none;
}
/* .users{
  text-decoration: none;
} */
</style>
<%- include('./layout/header.ejs')  %>  
<div class="container-fluid" >
  <div class="row min-vh-100" style="padding-top: 65px;" >
    <div class="col-sm-2 px-0" style="background-color: #f2f2f2;">
      <div class="mb-1 px-5 py-3" style="background-color: #e6e6e6;">
        <a style="text-decoration: none; color: black;" href="/branding">Branding</a>
      </div>
      <div class="mb-1 px-5 py-3" style="background-color: #f2f2f2;">
        <a style="text-decoration: none; color: black;" class="users" href="/users">Users</a>
      </div>
      <div class="mb-1 px-5 py-3" style="background-color: #e6e6e6;">
        <a style="text-decoration: none; color: black;" href="/system-variables">System Variables</a>
      </div>
      <div class="mt-auto mb-1 px-5 py-3" style="background-color: #e6e6e6;">
        <a href="/" style="text-decoration: none; color: black;">BACK TO JOB PAGE</a>
      </div>
    </div>
    <div class="col-sm-10 col-md-10 p-5" style="background-color: #f2f2f2;">
      <h4>Users</h4>
      <p>User Accounts</p> 
      <% if (messages) { %>
        <p><%-messages.error%></p>
        <% } %>           
      <table class="table table-bordered" style="background-color: white; width: 100%;">
      <% for (let  i = 0; i < users.length; i++) { %>
        <% if (currentUser[0].role_id != 3 && users[i].role_id != 3) { %>
          <form method="post" action="/edit/<%=users[i].user_id %>" encType="multipart/form-data" > 
            <tr 
              onkeyup="addUpdateBtn('<%= users[i].user_id %>')" 
              onchange="addUpdateBtn('<%= users[i].user_id %>')"
            >
              <th style="background-color: #e6e6e6;" >
                <% if (users[i].photo != null) { %>
                  <div class="d-flex justify-content-center align-items-center">
                    <!-- allows to click on photo to change photo -->
                    <label for="photo_<%= i+1 %>">
                      <img src="/<%= users[i].photo %>"
                        width="50"
                        height="50"
                        class="img-thumbnail"
                        id="output_<%= i+1 %>"
                      >
                    </label>
                    <!-- allows to change photo -->
                    <input
                      type="file"
                      id="photo_<%= i+1 %>"
                      name="photo"
                      style="display: contents;"
                      onchange="loadFile(event, '<%= i+1 %>')"
                    >
                    <!-- allows to edit user without changing image -->
                    <input type="hidden" name="old_image" value="<%= users[i].photo %>">
                <% } else { %>
                    <label for="photo_<%= i+1 %>"><i class="fa-solid fa-plus" ></i></label>
                    <input type="file" id="photo_<%= i+1 %>" name="photo" style="display: contents;" onchange="loadFile(event, '<%= i+1 %>')"></i>
                    <img height="40" id="output_<%= i+1 %>">
                  </div>
                <% } %> 
              </th>
              <th class="d-flex align-items-center"><input class="form-control"  type="text" name="user_name" value="<%= users[i].user_name %>" ></th>
              <th><input type="password" name="password" value="<%= users[i].password%>" ></th>
              <td class="select">
                <select name="role_name"> 
                  <option hidden>Select role</option>
                  <% if (users[i].role_id != 3) { %>
                    <% for (let  j = 0; j < userRole.length; j++) { %>
                      <% if (j != 2) { %>
                        <% if (userRole[j].role_id == users[i].role_id) { %>  
                          <option value="<%= userRole[j].role_id %>" selected>
                            <%= userRole[j].role_name %>
                          </option>
                        <% } else { %>
                          <option value="<%= userRole[j].role_id %>">
                            <%= userRole[j].role_name %>
                          </option>
                        <% } %>
                      <% } %>
                    <% } %>
                  <% } else { %>
                    <% for (let  j = 0; j < userRole.length; j++) { %>
                      <% if (userRole[j].role_id == users[i].role_id) { %>  
                        <option value="<%= userRole[j].role_id %>" selected>
                          <%= userRole[j].role_name %>
                        </option>
                      <% } else { %>
                        <option value="<%= userRole[j].role_id %>">
                          <%= userRole[j].role_name %>
                        </option>
                      <% } %>
                    <% } %>
                  <% } %> 
                
                </select>
              </td>   
              <th><input type="email" name="email" value="<%= users[i].email %>" ></th>
              <td class="update-btn d-none" id="<%= users[i].user_id%>">
                <form method="post" action="/edit/<%=users[i].user_id%>">
                  <button type="submit"><i class="fa-solid fa-check"></i></button>
                </form>
              </td>
              
              <% if (users[i].role_id != '3' && users[i].user_id != currentUser[0].user_id) { %>  
              <td class="delete-btn d-flex justify-content-center align-items-center" id="<%= users[i].user_id%>">
                <form method="GET" action="/delete/<%= users[i].user_id%>"> 
                  <button 
                  type="submit"
                  style="border: none; background-color: transparent;" 
                  ><i class="fa-solid fa-xmark"></i></button>
                </form>
              </td>
              <% } %>
            </tr>
          </form>
        <% } else if(currentUser[0].role_id == 3) { %>
          <form method="post" action="/edit/<%=users[i].user_id %>" encType="multipart/form-data" > 
            <tr 
              onkeyup="addUpdateBtn('<%= users[i].user_id %>')"
              onchange="addUpdateBtn('<%= users[i].user_id %>')"
              style="height: 50px"
            >
              <th style="background-color: #e6e6e6;" class="p-0 d-flex justify-content-center align-items-center">
                <% if (users[i].photo != null) { %>
                  <!-- allows to click on photo to change photo -->
                  <label style="height: 50px;" for="photo_<%= i+1 %>">
                    <img src="/<%= users[i].photo %>"  
                      width="50" 
                      height="50" 
                      class="img-thumbnail p-0" 
                      id="output_<%= i+1 %>"
                    >
                  </label>
                  <!-- allows to change photo -->
                  <input 
                    type="file" 
                    id="photo_<%= i+1 %>" 
                    name="photo" 
                    style="display: contents;" 
                    onchange="loadFile(event, '<%= i+1 %>')"
                  >
                  <!-- allows to edit user without changing image -->
                  <input type="hidden" name="old_image" value="<%= users[i].photo %>">
                <% } else { %>
                  <label for="photo_<%= i+1 %>"><i class="fa-solid fa-plus" ></i></label>
                  <input type="file" id="photo_<%= i+1 %>" name="photo" style="display: contents;" onchange="loadFile(event, '<%= i+1 %>')" ></i>
                  <img height="40" id="output_<%= i+1 %>">
                <% } %> 
              </th>
              <th style="padding-top: 14px;"><input  type="text" name="user_name" value="<%= users[i].user_name %>" ></th>
              <th style="padding-top: 14px;"><input type="password" name="password" value="<%= users[i].password %>" ></th>
              <td style="padding-top: 14px;" class="select">
                <select name="role_name" style="border: none;"> 
                  <option hidden>Select role</option>
                  <% if (users[i].role_id != 3) { %>
                    <% for (let  j = 0; j < userRole.length; j++) { %>
                      <% if (j != 2) { %>
                        <% if (userRole[j].role_id == users[i].role_id) { %>  
                          <option value="<%= userRole[j].role_id %>" selected>
                            <%= userRole[j].role_name %>
                          </option>
                        <% } else { %>
                          <option value="<%= userRole[j].role_id %>">
                            <%= userRole[j].role_name %>
                          </option>
                        <% } %>
                      <% } %>
                    <% } %>
                  <% } else { %>
                    <% for (let  j = 0; j < userRole.length; j++) { %>
                      <% if (userRole[j].role_id == users[i].role_id) { %>  
                        <option value="<%= userRole[j].role_id %>" selected>
                          <%= userRole[j].role_name %>
                        </option>
                      <% } else { %>
                        <option value="<%= userRole[j].role_id %>">
                          <%= userRole[j].role_name %>
                        </option>
                      <% } %>
                    <% } %>
                  <% } %> 
                
                </select>
              </td>   
              <th style="padding-top: 14px;"><input type="email" name="email" value="<%= users[i].email %>" ></th>
              <td style="padding-top: 14px;" class="update-btn d-none d-flex justify-content-center align-items-center" id="<%= users[i].user_id%>">
                <form class="m-0" method="post" action="/edit/<%=users[i].user_id%>">
                  <button style="border: none; background-color: transparent;" type="submit"><i class="fa-solid fa-check"></i></button>
                </form>
              </td>
              
              <% if (users[i].role_id != '3' && users[i].user_id != currentUser[0].user_id) { %>  
              <td class="delete-btn d-flex justify-content-center align-items-center" id="<%= users[i].user_id%>">
                <form class="m-0" method="GET" action="/delete/<%= users[i].user_id%>"> 
                  <button
                  style="border: none; background-color: transparent;" 
                  type="submit"
                  >
                  <i class="fa-solid fa-xmark"></i>
                  </button>
                </form>
              </td>
              <% } %>
            </tr>
          </form>
        <% } %> 
      <% } %>
        <form method="post" action="/users" encType="multipart/form-data" >
          <th class="d-flex justify-content-center align-items-center" style="background-color: #e6e6e6;"> 
            <label for="photo"><i class="fa-solid fa-plus" ></i></label>
            <input type="file" id="photo" name="photo" style="display: contents;" onchange="loadFile(event, 0)" ></i>
            <img height="40" id="output_0">
          </th>
          <th style="padding-top: 14px;"><input type="text" placeholder="Enter Name" name="user_name" required></th>
          <th style="padding-top: 14px;"><input type="password" placeholder="Enter Password" name="password"></th>
          <th style="padding-top: 14px;">
          <select name="role_name" style="border: none;">    
            <option>Select role</option> 
            <% for (let  i = 0; i < userRole.length; i++) { %>  
            <option value=<%= userRole[i].role_id %>><%= userRole[i].role_name %></option>
            <% } %> 
          </select></th>
          <th style="padding-top: 14px;"><input type="email" placeholder="Enter Email Address" name="email"></th>
          <th style="padding-top: 14px;" class="d-flex justify-content-center align-items-center">
            <button style="border: none; background-color: transparent;" type="submit"><i class="fa-solid fa-plus"></i></button>
          </th>
        </form>
      </table>
    </div>
  </div>
</div>
<script>
// var imageInput = document.getElementById("photo");
// var previewImage = document.getElementById("preview-image");
// imageInput.addEventListener("change", function(event){
//   if(event.target.files.length == 0){
//     return;
//   }
//   var tempUrl = URL.createObjectURL(event.target.files[0]);
//   previewImage.setAttribute("src", tempUrl);
// });

function addUpdateBtn(userId) {
    const allUpdateBtn = document.querySelectorAll('.update-btn');
    const allDelBtn = document.querySelectorAll('.delete-btn');

    allDelBtn.forEach((btn) => {
      if (
        btn.getAttribute('id') == userId
      ) {
        btn.classList.add('d-none');
      }
    });

    allUpdateBtn.forEach((btn) => {
      if (
        btn.getAttribute('id') == userId
      ) {
        btn.classList.remove('d-none');
      }
    });
  }

var loadFile = function(event, target) {
    var output = document.getElementById(`output_${target}`);
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src)
    }
  };
</script>
<%- include('./layout/footer.ejs')  %>  