<%- include('./layout/header.ejs')  %>  
<div class="">
  <div class="row min-vh-100">
    <div class="col-sm-2">
      <div class="d-flex flex-column min-vh-100">
        <div>
          <a href="#">Branding</a>
        </div>
        <div>
          <a href="/users">Users</a>
        </div>
        <div>
          <a href="#">System Variables</a>
        </div>
        <div class="mt-auto">
          <a href="#">BACK TO JOB PAGE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <h2>Users</h2>
      <p>User Accounts</p>            
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>password</th>
            <th>role</th>
            <th>email</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < users.length; i++) { %> 
            <tr>
          <th><%= users[i].user_name %> </th>
          <th><%= users[i].password%></th>
          <form method="POST" action="/users">
            <TD class = "select">
            <select id="role_id">        
                    <option value="admin">Administrator</option>
                    <option value="reviever">Reviewer</option>
                    <option value="Editor">Reviewer</option>
            </select>
            </TD>  
          </form> 
          <th><%= users[i].email %></th>
          <th><form method="GET" action="/delete/<%= users[i].user_id%>"><button type="submit"><i class="fa-solid fa-x"></i></button></form></th>
        </tr>
        <% } %> 
        </tbody>
      </table>
      <body>
      <form method="post" action="/users">
        name<br><input type="text" name="user_name"><br>
        password<br><input type="text" name="password"><br>
        email<br><input type="text" name="email"><br>
        <button type="submit">add</button>
      </form>
    </body>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs')  %>  