<%- include('./layout/header.ejs')  %>  
<div class="">
  <div class="row min-vh-100">
    <div class="col-sm-2">
      <div class="d-flex flex-column min-vh-100">
        <div>
          <a href="#">Branding</a>
        </div>
        <div>
          <a href="/users">Users</a>
        </div>
        <div>
          <a href="#">System Variables</a>
        </div>
        <div class="mt-auto">
          <a href="#">BACK TO JOB PAGE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <h2>Users</h2>
      <p>User Accounts</p>            
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>password</th>
            <th>role</th>
            <th>email</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < users.length; i++) { %> 
            <tr>
          <th><%= users[i].user_name %> </th>
          <th><%= users[i].password%></th>
            <TD class = "select">
            <select id="role_id">        
                    <option value="admin">Administrator</option>
                    <option value="reviever">Reviewer</option>
            </select>
            </TD>   
          <th><%= users[i].email %></th>
          <th><a href="/delete/:user_id<%= users[i].user_id%>" ><button > <i class="fa-solid fa-x"></i></button></a> </th>
        </tr>
        <% } %> 
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs')  %>  