<%- include('./layout/header.ejs')  %>  
<div class="container" style="padding-top: 65px;">
    <div class="row">
        <form action="/userProfile" method="post" encType="multipart/form-data"> <br>
        <div class="span8">
            <br><img src="<%= currentUser[0].photo %>"  width="300" id="output"  ><br>
            <label for="out" style="font-weight: 500;">UPDATE IMAGE</label>
            <input type="hidden" name="old_image" value="<%= currentUser[0].photo %>">
            <input id="out" type="file" onchange="loadFile(event)" style="display: contents;" name="photo"> 
        </div>
        <% if (messages) { %>
            <p><%-messages.error%></p>
            <% } %>
         <div class="form-floating my-2">
             <input class="form-control w-25" id="username" type="text" name="user_name" value="<%= currentUser[0].user_name %>">
             <label for="username">Username</label><br>
         </div>
         <div class="form-floating mb-2">
             <input class="form-control w-25" id="email" type="email" name="email" value="<%= currentUser[0].email %>">
             <label for="email">Email</label><br>
        </div>
         <div class="form-floating mb-2">
             <input class="form-control w-25" id="password" type="password" name="password" value="<%= currentUser[0].password %>">
             <label for="password">Password</label><br>
         </div><br>
             <button style="width: 200px;" class="btn btn-primary btn-lg bg-dark">Update Profile</button>
         </form>
    </div>
</div>
<script>
    var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src)
    }
  };
</script>
<%- include('./layout/footer.ejs')  %>  
