<div class="col-3 g-0">
  <div class="p-4 mb-1" style="background-color: #e6e6e6;">
    <div class="dropdown">
      <a 
        class="btn btn-secondary d-block dropdown-toggle w-100 border-0 p-0" 
        href="#" 
        role="button" 
        id="dropdownMenuLink" 
        data-bs-toggle="dropdown" 
        aria-expanded="false"
        style="background-color: transparent; color: black;"
      >
        <% if (jobId != '') { %>
          <% for( let i = 0; i < jobOpening.length; i++ ) { %>
            <% if (jobOpening[i].job_id == jobId) { %>
             <div class="d-flex align-items-center">
               <div class="me-2">
                <strong><%= jobOpening[i].job_title %></strong>
               </div>
               <div>
                  <% let applicants =  0 %>
                  <p class="m-0">
                    <% for (let j=0; j < jobApplications.length; j++) { %>
                      <% if(jobOpening[i].job_id == jobApplications[j].job_id) { %>
                          <% applicants++; %>
                      <% } %>
                    <% } %>
                    <strong>( <%= applicants; %> )</strong>
                  </p>
              </div>
             </div>
            <% } %>
          <% } %>
        <% } else { %>
          <div class="d-flex">
            <div class="me-2">
              <strong>SHOW ALL</strong>
            </div>
            <div>
              <% let allApplicants =  0 %>
              <p class="m-0">
                <% for (let i=0; i < jobApplications.length; i++) { %>
                      <% allApplicants++; %>
                <% } %>
                <strong>( <%= allApplicants; %> )</strong>
              </p>
            </div>
          </div>
        <% } %> 
      </a>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
      <% for( let i = 0; i < jobOpening.length; i++) { %>
        <li>
            <a class="dropdown-item" href="/application/job/<%= jobOpening[i].job_id %>">
              <div class="d-flex">
                <div><strong><%= jobOpening[i].job_title %></strong></div>
                <div>
                  <% let applicants =  0 %>
                  <p style="text-decoration: none;">
                    <% for (let j=0; j < jobApplications.length; j++) { %>
                      <% if(jobOpening[i].job_id == jobApplications[j].job_id) { %>
                          <% applicants++; %>
                      <% } %>
                    <% } %>
                    <strong>( <%= applicants; %> )</strong>
                  </p>
                </div>
              </div>
            </a>
        </li>
        <% } %> 
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item" href="/application">
            <div class="d-flex">
              <div class="me-2">
                <strong>SHOW ALL</strong>
              </div>
              <div>
                <% let allApplicants =  0 %>
                <p class="m-0">
                  <% for (let i=0; i < jobApplications.length; i++) { %>
                        <% allApplicants++; %>
                  <% } %>
                  <strong>( <%= allApplicants; %> )</strong>
                </p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Technologies -->
  <div class="p-4 mb-1" style="background-color: #e6e6e6;">
      <% for (let i=0; i < adminSkill.length; i++) { %>
        <span class="col p-0">
          <button 
            class="border-0"
            type="button" 
            name="skills" 
            value="<%= adminSkill[i].skill_name.replace(/\s/g, '') %>" 
            id="<%= adminSkill[i].skill_name.replace(/\s/g, '') %>"
          ><%= adminSkill[i].skill_name %></button>
        </span>
      <% } %>
    </div>

  <!-- Expertise -->
  <div class="p-4 mb-1" style="background-color: #e6e6e6;">
    <input 
      type="checkbox" 
      name="expertise" 
      value="expert"
      id="expert" 
    >
    <label for="expert">Expert</label><br>
    <input 
      type="checkbox" 
      name="expertise" 
      value="intermediate"
      id="intermediate" 
    >
    <label for="intermediate">Intermediate</label><br>
    <input 
      type="checkbox" 
      name="expertise" 
      value="beginner"
      id="beginner" 
    >
    <label for="beginner">Beginner</label>
  </div>

  <!-- other options -->
  <div class="p-4 mb-1" style="background-color: #e6e6e6;">
    <input 
      type="checkbox" 
      name="minYears"
      value="minYears"
      id="minYears" 
    >
    <label for="minYears">Meets Minimum years work experience</label><br>
    <input 
      type="checkbox" 
      name="expectedSalary" 
      value="expectedSalary"
      id="expectedSalary" 
    >
    <label for="expectedSalary">Expected salary within offer</label><br>
    <input 
      type="checkbox" 
      name="startNow"
      value="startNow"
      id="startNow" 
    >
    <label for="startNow">Can start immediately</label>
  </div>

  <!-- Status -->
  <div class="p-4 mb-1" style="background-color: #e6e6e6;">
    <% for(let i=0; i < remarks.length; i++) { %>
      <div>
        <input 
          type="checkbox" 
          name="status"
          value="status-<%= remarks[i].remark_id %>"
          id="status-<%= remarks[i].remark_id %>"
        />
        <label for="status-<%= remarks[i].remark_id %>">
          <%= remarks[i].remark_name %>
        </label>
      </div>
    <% } %>
  </div>

  <!-- Read and Unread -->
  <div class="p-4 mb-1" style="background-color: #e6e6e6;">
    <input 
      type="checkbox" 
      name="readUnread" 
      value="read" 
      id="read"
    >
    <label for="read">Read</label><br>
    <input 
      type="checkbox" 
      name="readUnread" 
      value="unread" 
      id="unread"
    >
    <label for="unread">Unread</label>
  </div>

  <div class="p-4" style="background-color: #e6e6e6;">

  </div>
</div>

<!-- Mid Section -->
<div class="col-3 g-0" style="height: 100vh;"> 
  <!-- Search Bar -->
  <div>
    <input id="myInput" class="w-100 border-bottom m-1" type="text" placeholder="Search" style="height: 40px; border: none; outline: none;">
  </div>

  <!-- Cards -->
  <div class="card-container" style="height: 100vh; overflow: auto;" id="card-container">
    <% if ( applicants != 0 ) { %>
      <% for(let i = 0; i < applicants.length; i++) { %>
        <a 
          href="/application/job/<%= applicants[i].job_id %>/applicant/<%= applicants[i].application_id %>" 
          style="text-decoration: none;"
          class="applicants"
          id="myCard"
          data-id="<%= applicants[i].job_id %>"
          data-category="
          <% for ( let j = 0; j < applicantJob.length; j++) { %> 
            <% if ( applicants[i].application_id == applicantJob[j].application_id) { %> 
              <%= applicantJob[j].skill_name.replace(/\s/g, '') %> 
            <% } %> 
          <% } %>
          <% for( let j = 0; j < jobApplicants.length; j++ ) { %>
            <% if (applicants[i].application_id == jobApplicants[j].application_id) { %>
              <% if (jobApplicants[j].skill_level >= 75) { %>
                expert
              <% } else if (jobApplicants[j].skill_level >= 50) { %>
                intermediate
              <% } else { %>
                beginner
              <% } %>
            <% } %>
          <% } %>
          <% for( let j = 0; j < jobOpening.length; j++ ) { %>
            <% if (applicants[i].job_id == jobOpening[j].job_id) { %>
              <% if (applicants[i].year_experience >= jobOpening[j].min_years_experience) { %>
                minYears
              <% } %>
              <% if (applicants[i].expected_salary <= jobOpening[j].max_salary) { %>
                expectedSalary
              <% } %>
            <% } %>
          <% } %>
          <% if (applicants[i].start_date == null) { %>
            startNow
          <% } %>
          status-<%= applicants[i].status %>"

          updated="
            <% for ( let j = 0; j < applicantJob.length; j++) { %> 
              <% if ( applicants[i].application_id == applicantJob[j].application_id) { %> 
                <%= applicantJob[j].skill_name.replace(/\s/g, '') %> 
              <% } %> 
            <% } %>
            <% for( let j = 0; j < jobApplicants.length; j++ ) { %>
              <% if (applicants[i].application_id == jobApplicants[j].application_id) { %>
                <% if (jobApplicants[j].skill_level >= 75) { %>
                  expert
                <% } else if (jobApplicants[j].skill_level >= 50) { %>
                  intermediate
                <% } else { %>
                  beginner
                <% } %>
              <% } %>
            <% } %>
            <% for( let j = 0; j < jobOpening.length; j++ ) { %>
              <% if (applicants[i].job_id == jobOpening[j].job_id) { %>
                <% if (applicants[i].year_experience >= jobOpening[j].min_years_experience) { %>
                  minYears
                <% } %>
                <% if (applicants[i].expected_salary <= jobOpening[j].max_salary) { %>
                  expectedSalary
                <% } %>
              <% } %>
            <% } %>
            <% if (applicants[i].start_date == null) { %>
              startNow
            <% } %>"
        >
          <div class="card mb-1 p-3 mid-cards" style="background-color: #666666; color: white;">
            <div class="row g-0">
              <div class="col-md-4">
                <% if (applicants[i].photo != null) { %>
                  <img src="/<%= applicants[i].photo %>" class="img-fluid rounded-start img" alt="Failed to load image" width="100">
                <% } else { %>
                  NO PHOTO  
                <% } %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= applicants[i].first_name %> <%= applicants[i].last_name %> </h5>
                  <p class="card-text"> 
                    <% for ( let j = 0; j < applicantJob.length; j++) { %>
                      <% if ( applicants[i].application_id == applicantJob[j].application_id) { %>
                        <%= applicantJob[j].skill_name %>   
                      <% } %> 
                    <% } %> 
                  </p>
                  <p class="card-text">
                    <p>
                    <%= applicants[i].year_experience  %>
                    <% if (applicants[i].year_experience > 1) { %>
                      years
                    <% } else { %>
                      year
                    <% } %> experience
                  </p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <% } %>    
    <% } else { %>
      <div class="d-flex flex-column justify-content-center min-vh-100 ps-5 border-end border-2">
        <h1>
          NO APPLICANTS
        </h1>
      </div>  
    <% } %> 
    <div class="no-results" style="display:none"><h1>no results found</h1></div>
  </div>
</div>